<div class="accordion accordion-flush" id="en_firstEntrySecondFloor">
    <div class="accordion-item">
        <div class="accordion-header" id="en_a_secondFloor_ApartOneHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#en_a_secondFloor_ApartOneCollapse" aria-expanded="false" aria-controls="en_a_secondFloor_ApartOneCollapse">
                Apartment no.06 - One Bedroom
            </button>
        </div>
        <div id="en_a_secondFloor_ApartOneCollapse" class="accordion-collapse collapse" aria-labelledby="en_a_secondFloor_ApartOneHeading" data-bs-parent="#en_firstEntrySecondFloor">
            <div class="container">
                <div class="row justify-content-between flex-column-reverse flex-lg-row">
                    <div class="col-12 col-lg-5">
                        <div class="info-row">
                            <p>Living Room & Kitchen + Hallway</p>
                            <p>30.92 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom  1</p>
                            <p>13.26 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bathroom + WC</p>
                            <p>4.59 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Storage Room </p>
                            <p>1.60 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Terrace 1</p>
                            <p>3.43m2</p>
                        </div>
                        <div class="info-row">
                            <p>Gross Area</p>
                            <p>63.59 m2</p>
                        </div>
                        <a href="#" class="a-btn-default d-flex flex-row align-items-center justify-content-center mt-3">
                            <img src="../images/download.svg" class="download-blue" alt="" />
                            <img src="../images/download-white.svg" alt="" class="download-white"/>
                            download floor plan and info
                        </a>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-start justify-content-lg-end justify-content-center mb-2 mb-lg-0">
                        <img src="/images/hyrja_a/BANESA%2006.webp" alt="" class="apartment-image"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="en_a_secondFloor_ApartTwoHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#en_a_secondFloor_ApartTwoCollapse" aria-expanded="false" aria-controls="en_a_secondFloor_ApartTwoCollapse">
                Apartment no.07 - Two Bedrooms
            </button>
        </div>
        <div id="en_a_secondFloor_ApartTwoCollapse" class="accordion-collapse collapse" aria-labelledby="en_a_secondFloor_ApartTwoHeading" data-bs-parent="#en_firstEntrySecondFloor">
            <div class="container">
                <div class="row justify-content-between flex-column-reverse flex-lg-row">
                    <div class="col-12 col-lg-5">
                        <div class="info-row">
                            <p>Living Room & Kitchen + Hallway</p>
                            <p>40.52 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom 1</p>
                            <p>15.03 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom  2</p>
                            <p>9.80 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bathroom + WC</p>
                            <p>3.91 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Storage Room </p>
                            <p>2.38 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Terrace 1</p>
                            <p>3.08 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Terrace 2</p>
                            <p>3.68 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Gross Area</p>
                            <p>89.64 m2</p>
                        </div>
                        <a href="#" class="a-btn-default d-flex flex-row align-items-center justify-content-center mt-3">
                            <img src="../images/download.svg" class="download-blue" alt="" />
                            <img src="../images/download-white.svg" alt="" class="download-white"/>
                            download floor plan and info
                        </a>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-start justify-content-lg-end justify-content-center mb-2 mb-lg-0">
                        <img src="/images/hyrja_a/BANESA%2007.webp" alt="" class="apartment-image"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="en_a_secondFloor_ApartThreeHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#en_a_secondFloor_ApartThreeCollapse" aria-expanded="false" aria-controls="en_a_secondFloor_ApartThreeCollapse">
                Apartment no.08 - Three Bedrooms
            </button>
        </div>
        <div id="en_a_secondFloor_ApartThreeCollapse" class="accordion-collapse collapse" aria-labelledby="en_a_secondFloor_ApartThreeHeading" data-bs-parent="#en_firstEntrySecondFloor">
            <div class="container">
                <div class="row justify-content-between flex-column-reverse flex-lg-row">
                    <div class="col-12 col-lg-5">
                        <div class="info-row">
                            <p>Living Room & Kitchen + Hallway</p>
                            <p>51.09 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom  1</p>
                            <p>12.98 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom  2</p>
                            <p>13.00 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom  3</p>
                            <p>14.05 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bathroom + WC/Bedroom 3</p>
                            <p>3.57 m2</p>
                        </div>
                        <div class="info-row">
                            <p>WC</p>
                            <p>2.27 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bathroom + WC</p>
                            <p>4.08 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Storage Room </p>
                            <p>2.72 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Terrace 1</p>
                            <p>8.00 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Apartment / Gross Area</p>
                            <p>125.97 m2</p>
                        </div>
                        <a href="#" class="a-btn-default d-flex flex-row align-items-center justify-content-center mt-3">
                            <img src="../images/download.svg" class="download-blue" alt="" />
                            <img src="../images/download-white.svg" alt="" class="download-white"/>
                            download floor plan and info
                        </a>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-start justify-content-lg-end justify-content-center mb-2 mb-lg-0">
                        <img src="/images/hyrja_a/BANESA%2008.webp" alt="" class="apartment-image"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="en_a_secondFloor_ApartFourHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#en_a_secondFloor_ApartFourCollapse" aria-expanded="false" aria-controls="en_a_secondFloor_ApartFourCollapse">
                Apartment no.09 - Two Bedrooms
            </button>
        </div>
        <div id="en_a_secondFloor_ApartFourCollapse" class="accordion-collapse collapse" aria-labelledby="en_a_secondFloor_ApartFourHeading" data-bs-parent="#en_firstEntrySecondFloor">
            <div class="container">
                <div class="row justify-content-between flex-column-reverse flex-lg-row">
                    <div class="col-12 col-lg-5">
                        <div class="info-row">
                            <p>Living Room & Kitchen + Hallway</p>
                            <p>42.55 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom  1</p>
                            <p>12.93 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom  2</p>
                            <p>17.39 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bathroom + WC</p>
                            <p>5.62 m2</p>
                        </div>
                        <div class="info-row">
                            <p>WC</p>
                            <p>2.59 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Storage Room </p>
                            <p>2.59 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Terrace 1 </p>
                            <p>2.59 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Apartment / Gross Area</p>
                            <p>99.35 m2</p>
                        </div>
                        <a href="#" class="a-btn-default d-flex flex-row align-items-center justify-content-center mt-3">
                            <img src="../images/download.svg" class="download-blue" alt="" />
                            <img src="../images/download-white.svg" alt="" class="download-white"/>
                            download floor plan and info
                        </a>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-start justify-content-lg-end justify-content-center mb-2 mb-lg-0">
                        <img src="/images/hyrja_a/BANESA%2009.webp" alt="" class="apartment-image"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="en_a_secondFloor_ApartFiveHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#en_a_secondFloor_ApartFiveCollapse" aria-expanded="false" aria-controls="en_a_secondFloor_ApartFiveCollapse">
                Apartment no.10 - Three Bedrooms
            </button>
        </div>
        <div id="en_a_secondFloor_ApartFiveCollapse" class="accordion-collapse collapse" aria-labelledby="en_a_secondFloor_ApartFiveHeading" data-bs-parent="#en_firstEntrySecondFloor">
            <div class="container">
                <div class="row justify-content-between flex-column-reverse flex-lg-row">
                    <div class="col-12 col-lg-5">
                        <div class="info-row">
                            <p>Living Room & Kitchen + Hallway</p>
                            <p>43.69 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom 1</p>
                            <p>11.69 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom 2</p>
                            <p>15.82 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom 3</p>
                            <p>16.02 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bathroom + WC /Bedroom 3</p>
                            <p>4.18 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bathroom + WC</p>
                            <p>5.00 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Storage Room </p>
                            <p>2.04 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Terrace 1 / Gross Area</p>
                            <p>3.63 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Terrace 2 / Gross Area</p>
                            <p>3.75 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Apartment / Gross Area</p>
                            <p>123.33 m2</p>
                        </div>
                        <a href="#" class="a-btn-default d-flex flex-row align-items-center justify-content-center mt-3">
                            <img src="../images/download.svg" class="download-blue" alt="" />
                            <img src="../images/download-white.svg" alt="" class="download-white"/>
                            download floor plan and info
                        </a>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-start justify-content-lg-end justify-content-center mb-2 mb-lg-0">
                        <img src="/images/hyrja_a/BANESA%2010.webp" alt="" class="apartment-image"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>