<div class="accordion accordion-flush" id="en_firstEntryFirstFloor">
    <div class="accordion-item">
        <div class="accordion-header" id="en_a_firstFloor_ApartOneHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#en_a_firstFloor_ApartOneCollapse" aria-expanded="false" aria-controls="en_a_firstFloor_ApartOneCollapse">
                Apartment no.01  - One Bedroom
            </button>
        </div>
        <div id="en_a_firstFloor_ApartOneCollapse" class="accordion-collapse collapse" aria-labelledby="en_a_firstFloor_ApartOneHeading" data-bs-parent="#en_firstEntryFirstFloor">
            <div class="container">
                <div class="row justify-content-between flex-column-reverse flex-lg-row">
                    <div class="col-12 col-lg-5">
                        <div class="info-row">
                            <p>Living Room & Kitchen + Hallway</p>
                            <p>30.92 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom</p>
                            <p>13.26 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bathroom + WC</p>
                            <p>4.59 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Storage Room </p>
                            <p>1.60 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Terrace 1</p>
                            <p>7.32 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Gross Area</p>
                            <p>60.10 m2</p>
                        </div>
                        <a href="#" class="a-btn-default d-flex flex-row align-items-center justify-content-center mt-3">
                            <img src="../images/download.svg" class="download-blue" alt="" />
                            <img src="../images/download-white.svg" alt="" class="download-white"/>
                            download floor plan and info
                        </a>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-start justify-content-lg-end justify-content-center mb-2 mb-lg-0">
                        <img src="/images/hyrja_a/BANESA%2001.webp" alt="" class="apartment-image"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="en_a_firstFloor_ApartTwoHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#en_a_firstFloor_ApartTwoCollapse" aria-expanded="false" aria-controls="en_a_firstFloor_ApartTwoCollapse">
                Apartment no.02 - Two Bedrooms
            </button>
        </div>
        <div id="en_a_firstFloor_ApartTwoCollapse" class="accordion-collapse collapse" aria-labelledby="en_a_firstFloor_ApartTwoHeading" data-bs-parent="#en_firstEntryFirstFloor">
            <div class="container">
                <div class="row justify-content-between flex-column-reverse flex-lg-row">
                    <div class="col-12 col-lg-5">
                        <div class="info-row">
                            <p>Living Room & Kitchen + Hallway</p>
                            <p>40.52 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom  1</p>
                            <p>15.03 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom  2</p>
                            <p>9.80 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bathroom + WC</p>
                            <p>3.91 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Storage Room </p>
                            <p>2.38 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Terrace 1</p>
                            <p>3.38 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Gross Area</p>
                            <p>86.10 m2</p>
                        </div>
                        <a href="#" class="a-btn-default d-flex flex-row align-items-center justify-content-center mt-3">
                            <img src="../images/download.svg" class="download-blue" alt="" />
                            <img src="../images/download-white.svg" alt="" class="download-white"/>
                            download floor plan and info
                        </a>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-start justify-content-lg-end justify-content-center mb-2 mb-lg-0">
                        <img src="/images/hyrja_a/BANESA%2002.webp" alt="" class="apartment-image"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="en_a_firstFloor_ApartThreeHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#en_a_firstFloor_ApartThreeCollapse" aria-expanded="false" aria-controls="en_a_firstFloor_ApartThreeCollapse">
                Apartment no.03 - Three Bedrooms
            </button>
        </div>
        <div id="en_a_firstFloor_ApartThreeCollapse" class="accordion-collapse collapse" aria-labelledby="en_a_firstFloor_ApartThreeHeading" data-bs-parent="#en_firstEntryFirstFloor">
            <div class="container">
                <div class="row justify-content-between flex-column-reverse flex-lg-row">
                    <div class="col-12 col-lg-5">
                        <div class="info-row">
                            <p>Living Room & Kitchen + Hallway</p>
                            <p>51.09 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom  1</p>
                            <p>12.98 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom 2</p>
                            <p>13.00 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom  3</p>
                            <p>14.05 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bathroom + WC/Bedroom 3</p>
                            <p>3.57 m2</p>
                        </div>
                        <div class="info-row">
                            <p>WC</p>
                            <p>2.27 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bathroom + WC</p>
                            <p>4.08 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Storage Room </p>
                            <p>2.72 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Terrace 1 / Gross Area</p>
                            <p>29.38 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Apartment / Gross Area</p>
                            <p>118.66 m2</p>
                        </div>
                        <a href="#" class="a-btn-default d-flex flex-row align-items-center justify-content-center mt-3">
                            <img src="../images/download.svg" class="download-blue" alt="" />
                            <img src="../images/download-white.svg" alt="" class="download-white"/>
                            download floor plan and info
                        </a>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-start justify-content-lg-end justify-content-center mb-2 mb-lg-0">
                        <img src="/images/hyrja_a/BANESA%2003.webp" alt="" class="apartment-image"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="en_a_firstFloor_ApartFourHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#en_a_firstFloor_ApartFourCollapse" aria-expanded="false" aria-controls="en_a_firstFloor_ApartFourCollapse">
                Apartment no.04 - Two Bedrooms
            </button>
        </div>
        <div id="en_a_firstFloor_ApartFourCollapse" class="accordion-collapse collapse" aria-labelledby="en_a_firstFloor_ApartFourHeading" data-bs-parent="#en_firstEntryFirstFloor">
            <div class="container">
                <div class="row justify-content-between flex-column-reverse flex-lg-row">
                    <div class="col-12 col-lg-5">
                        <div class="info-row">
                            <p>Living Room & Kitchen + Hallway</p>
                            <p>42.50 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom 1</p>
                            <p>12.82 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom  2</p>
                            <p>17.26 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bathroom + WC</p>
                            <p>5.78 m2</p>
                        </div>
                        <div class="info-row">
                            <p>WC</p>
                            <p>2.59 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Storage Room </p>
                            <p>2.59 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Terrace 1 / Gross Area</p>
                            <p>19.17 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Apartment / Gross Area</p>
                            <p>96.08 m2</p>
                        </div>
                        <a href="#" class="a-btn-default d-flex flex-row align-items-center justify-content-center mt-3">
                            <img src="../images/download.svg" class="download-blue" alt="" />
                            <img src="../images/download-white.svg" alt="" class="download-white"/>
                            download floor plan and info
                        </a>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-start justify-content-lg-end justify-content-center mb-2 mb-lg-0">
                        <img src="/images/hyrja_a/BANESA%2004.webp" alt="" class="apartment-image"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="en_a_firstFloor_ApartFiveHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#en_a_firstFloor_ApartFiveCollapse" aria-expanded="false" aria-controls="en_a_firstFloor_ApartFiveCollapse">
                Apartment no.05 - Three Bedrooms
            </button>
        </div>
        <div id="en_a_firstFloor_ApartFiveCollapse" class="accordion-collapse collapse" aria-labelledby="en_a_firstFloor_ApartFiveHeading" data-bs-parent="#en_firstEntryFirstFloor">
            <div class="container">
                <div class="row justify-content-between flex-column-reverse flex-lg-row">
                    <div class="col-12 col-lg-5">
                        <div class="info-row">
                            <p>Living Room & Kitchen + Hallway</p>
                            <p>43.69 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom 1</p>
                            <p>11.69 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom 2</p>
                            <p>15.82 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bedroom  3</p>
                            <p>16.02 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bathroom + WC /Bedroom 3</p>
                            <p>4.18 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Bathroom + WC</p>
                            <p>5.00 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Storage Room </p>
                            <p>2.04 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Terrace 1 / Gross Area</p>
                            <p>31.03 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Terrace 2 / Gross Area</p>
                            <p>12.69 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Apartment / Gross Area</p>
                            <p>116.54 m2</p>
                        </div>
                        <a href="#" class="a-btn-default d-flex flex-row align-items-center justify-content-center mt-3">
                            <img src="../images/download.svg" class="download-blue" alt="" />
                            <img src="../images/download-white.svg" alt="" class="download-white"/>
                            download floor plan and info
                        </a>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-start justify-content-lg-end justify-content-center mb-2 mb-lg-0">
                        <img src="/images/hyrja_a/BANESA%2005.webp" alt="" class="apartment-image"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>