<section class="o-overview">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-5">
				<figure class="o-overview__image mb-0">
					<img src="../images/standards-image-3.webp" alt="" class="w-100 h-100"/>
				</figure>
			</div>
			<div class="col-12 col-lg-6 offset-lg-1 d-flex flex-column align-items-center">
				<div class="o-overview__content">
					<h2 class="text-primary mb-2 mb-lg-4">Rreth nesh</h2>
					<p>Ne, themeluesit e <strong>G&A Invest</strong>, jemi një kompani e drejtuar nga një familje me vizion dhe ambicie të larta. Kemi përvojë të gjerë në fushën e ndërtimit dhe zhvillimit të pronave, duke sjellë me vete një rrjet të gjerë të ekspertëve të industrisë. Me ekspertizëdhe pasionin tonë për ndërtimin e qëndrueshëm, synojmë të transformojmë industrinë e ndërtimit dhe të sjellim projekte vizionare në jetë.</p>
					<p>Në <strong>rezidencën ENA</strong>, ju mirëpresim në të ardhmen e jetesës! Apartamentet e reja revolucionare ofrojnë një jetë komode, moderne dhe luksoze. Ne ofrojmë hapësira jetese dhe krijojmë mjedise pune duke investuar jo vetëm në apartamente revolucionare, por edhe në hapësira tregtare të zgjuara, të cilat i blejmë dhe i shesim. Përmes investimeve të synuara në startup-e në sektorin e ndërtimit dhe teknologjisë, GA Invest synon të japë shoqërisë mundësinë të rritet dhe të realizojë projektet e saj inovative dhe të rëndësishme shoqërore. Fokusi është në promovimin e cilësisë së jetës për njerëzit në Kosovë, duke përfshirë të dyja qëndrueshmërinë ekologjike dhe ekonomike.</p>
				</div>
			</div>
		</div>
	</div>
</section>
