<section class="o-about" id="about-us">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-5">
				<div class="swiper about-swiper w-100">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="../images/abous-us-image-1.webp" alt="" />
						</div>
						<div class="swiper-slide">
							<img src="../images/abous-us-image-2.webp" alt="" />
						</div>
						<div class="swiper-slide">
							<img src="../images/abous-us-image-3.webp" alt="" />
						</div>
						<div class="swiper-slide">
							<img src="../images/abous-us-image-1.webp" alt="" />
						</div>
						<div class="swiper-slide">
							<img src="../images/abous-us-image-2.webp" alt="" />
						</div>
						<div class="swiper-slide">
							<img src="../images/abous-us-image-3.webp" alt="" />
						</div>
						<div class="swiper-slide">
							<img src="../images/abous-us-image-1.webp" alt="" />
						</div>
					</div>
				</div>
			</div>
			<div
				class="col-12 col-lg-6 offset-lg-1 d-flex flex-column justify-content-center"
			>
				<div class="o-about__content">
					<h2 class="text-primary mb-4">Misioni</h2>
					<p>
						<strong>G & A Invest</strong>, si kompania prapa ENA RESIDENCE, ka
						theksuar një angazhim të palëkundur ndaj cilësisë së lartë
						ndërtimore dhe materialesh cilësore të qëndrueshme dhe ekologjike.
						Përvoja shumëvjecare në fushën e ndërtimit në Zvicër ka ndikuar
						thellësisht në projektin tonë, duke sjellë një ndërthurje të
						shkëlqyer mes njohurive të pasura dhe teknologjisë së fundit.
					</p>
					<p>
						Çdo projekt nën G & A Invest është një shembull i shquar i
						përkushtimit tonë ndaj një stili jetese të unikatëve dhe një
						ndërtese të cilësisë së lartë. Ne kemi për qëllim të përcjellim
						elegancën dhe kualitetin zviceran në çdo detaj të projekteve tona
						aktuale dhe të ardhshme.
					</p>
					<p>
						Me plotë besim në cilësinë tonë dhe me një synim të qartë për të
						krijuar një ambient të banimit të lartë, ENA RESIDENCE është
						zgjedhja e duhur për ata që dëshirojnë të përjetojnë një jetesë të
						pasur dhe të komoduar në një mjedis të veçantë.
					</p>
					<p>
						Faleminderit që na dhatë mundësinë për t'ju prezantuar projektin
						tonë dhe të përcjellim pasionin tonë për ndërtimin e projekteve të
						jashtëzakonshme dhe të pasur në detaje.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
