<section class="o-about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="swiper about-swiper w-100">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../images/abous-us-image-1.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/abous-us-image-2.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/abous-us-image-3.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/abous-us-image-2.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 offset-md-1 d-flex flex-column justify-content-center">
                <div class="o-about__content">
                    <h2 class="text-primary font-outfit--medium mb-4">Our hands-on approach</h2>
                    <p>Our company is sustainable because we are dedicated to environmentally responsible architecture. We prioritize eco-friendly materials, energy efficiency, and waste reduction in our projects, reducing our carbon footprint. </p>
                    <p>Our commitment to renewable energy, healthy indoor environments, and community engagement ensures that our buildings have a positive impact on the planet and the people who inhabit them. We continually strive for innovation and compliance with sustainability standards, making us a trusted choice for sustainable architecture solutions.</p>
                </div>
            </div>
        </div>
    </div>
</section>