<section class="o-apartments">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="o-apartments__content">
                    <h2 class="text-primary mb-1">Luxury on the highest floors</h2>
                    <p class="text-primary mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                    <ul>
                        <li>
                            <button class="o-apartments__content__btn font-outfit--medium text-primary d-flex flex-row justify-content-between align-items-center p-2 w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFirstEntry" aria-controls="offcanvasFirstEntry">
                                Hyrja A
                                <img src="../images/down-arrow.svg" alt="" />
                            </button>

<!--                            {{> hyrja-a }}-->
                        </li>
                        <li>
                            <button class="o-apartments__content__btn font-outfit--medium text-primary d-flex flex-row justify-content-between align-items-center p-2 w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSecondEntry" aria-controls="offcanvasSecondEntry">
                                Hyrja B
                                <img src="../images/down-arrow.svg" alt="" />
                            </button>

<!--                            {{> hyrja-b }}-->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="o-apartments__images">
                    <div class="row">
                        <div class="col-7 col-lg-6">
                            <img src="../images/summary-image-1.jpg" alt="" class="w-100 first" />
                        </div>
                        <div class="col-5 col-lg-4 d-flex flex-column justify-content-end">
                            <div class="o-apartments__images__box w-100 p-4 bg-primary d-flex flex-column align-items-center justify-content-between">
                                <span class="text-white font-manrope--semibold">3</span>
                                <small class="text-white font-outfit--medium">Bedrooms</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 col-lg-4">
                            <div class="o-apartments__images__box w-100 p-4 bg-primary d-flex flex-column align-items-center justify-content-between">
                                <span class="text-white font-manrope--semibold">40</span>
                                <small class="text-white font-outfit--medium">sqm2</small>
                            </div>
                        </div>
                        <div class="col-7 col-lg-8">
                            <img src="../images/summary-image-2.jpg" alt="" class="w-100 second" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>