<section class="o-contact h-100 w-100" style="background-image: url(/images/hero.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 pe-5">
                <div class="o-contact__headline text-white font-outfit--medium">
                    Let’s <br> talk
                </div>
                <p class="text-white mb-0 fw-normal">Lorem ipsum dolor sit amet consectetur. Diam feugiat leo varius et eget arcu viverra augue. Egestas turpis sagittis fringilla faucibus qu.Lorem ipsum dolor sit amet consectetur. Diam feugiat leo varius et eget arcu viverra augue. Egestas turpis sagittis fringilla faucibus qu.</p>
                <div class="o-contact__social-media mt-4 mb-4 mb-lg-0">
                    <div class="row">
                        <div class="col-4 d-flex flex-column">
                            <div class="d-flex flex-row align-items-center">
                                <img src="../images/phone.svg" alt="Phone icon" />
                                <span class="text-white lead font-manrope--semibold fw-semibold">Call us</span>
                            </div>
                            <a href="tel:+383 44 123 456" class="font-manrope--regular text-white small">+383 44 123 456</a>
                        </div>
                        <div class="col-4 d-flex flex-column">
                            <div class="d-flex flex-row align-items-center">
                                <img src="../images/viber.svg" alt="Viber icon" />
                                <span class="text-white lead font-manrope--semibold fw-semibold">Viber</span>
                            </div>
                            <a href="tel:+383 44 123 456" class="font-manrope--regular text-white small">+383 44 123 456</a>
                        </div>
                        <div class="col-4 d-flex flex-column">
                            <div class="d-flex flex-row align-items-center">
                                <img src="../images/whatsapp.svg" alt="Whatsapp icon">
                                <span class="text-white lead font-manrope--semibold fw-semibold">Whats app</span>
                            </div>
                            <a href="tel:+383 44 123 456" class="font-manrope--regular text-white small">+383 44 123 456</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
                <form class="d-flex flex-column">
                    <input type="text" name="name" placeholder="Your name and surname">
                    <input type="tel" name="phone" placeholder="Your phone number">
                    <input type="email" name="email" placeholder="E-mail">
                    <input type="text" name="message" placeholder="Message" class="mb-3">
                    <input type="submit" placeholder="Send your message" value="Send your message" class="a-btn-default">
                </form>
            </div>
        </div>
    </div>
</section>