<div class="offcanvas offcanvas-end offcanvasEntries w-100 border-0" tabindex="-1" id="offcanvasFirstEntryEn" aria-labelledby="offcanvasFirstEntryEnLabel">
    <div class="offcanvas-header p-0 mb-1">
        <div class="container">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                <img width="27" height="24" src="../images/down-arrow.svg" alt="" />
            </button>
        </div>
    </div>
    <div class="offcanvas-body p-0">
        <div class="container">
            <h2>Beyond these walls, a world made for you.</h2>
            <ul class="nav nav-tabs border-0 mb-2 mb-lg-3" id="firstEntryEnTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="fe-floor-1-en-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-1-en" type="button" role="tab" aria-controls="fe-floor-1-en" aria-selected="true">
                        Floor 1
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-2-en-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-2-en" type="button" role="tab" aria-controls="fe-floor-2-en" aria-selected="false">
                        Floor 2
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-3-en-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-3-en" type="button" role="tab" aria-controls="fe-floor-3-en" aria-selected="false">
                        Floor 3
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-4-en-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-4-en" type="button" role="tab" aria-controls="fe-floor-4-en" aria-selected="false">
                        Floor 4
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-5-en-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-5-en" type="button" role="tab" aria-controls="fe-floor-5-en" aria-selected="false">
                        Floor 5
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-6-en-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-6-en" type="button" role="tab" aria-controls="fe-floor-6-en" aria-selected="false">
                        Floor 6
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-7-en-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-7-en" type="button" role="tab" aria-controls="fe-floor-7-en" aria-selected="false">
                        Floor 7
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-8-en-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-8-en" type="button" role="tab" aria-controls="fe-floor-8-en" aria-selected="false">
                        Floor 8
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-9-en-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-9-en" type="button" role="tab" aria-controls="fe-floor-9-en" aria-selected="false">
                        Floor 9
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-10-en-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-10-en" type="button" role="tab" aria-controls="fe-floor-10-en" aria-selected="false">
                        Floor 10
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-11-en-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-11-en" type="button" role="tab" aria-controls="fe-floor-11-en" aria-selected="false">
                        Floor 11
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-12-en-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-12-en" type="button" role="tab" aria-controls="fe-floor-12-en" aria-selected="false">
                        Floor 12
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-13-en-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-13-en" type="button" role="tab" aria-controls="fe-floor-13-en" aria-selected="false">
                        Floor 13
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-14-en-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-14-en" type="button" role="tab" aria-controls="fe-floor-14-en" aria-selected="false">
                        Floor 14
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-15-en-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-15-en" type="button" role="tab" aria-controls="fe-floor-15-en" aria-selected="false">
                        Floor 15
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="firstEntryEnTabContent">
                <div class="tab-pane fade show active" id="fe-floor-1-en" role="tabpanel" aria-labelledby="fe-floor-1-en-tab">
                    {{> h1-kati1 }}
                </div>
                <div class="tab-pane fade" id="fe-floor-2-en" role="tabpanel" aria-labelledby="fe-floor-2-en-tab">
                    2
                </div>
                <div class="tab-pane fade" id="fe-floor-3-en" role="tabpanel" aria-labelledby="fe-floor-3-en-tab">
                    3
                </div>
                <div class="tab-pane fade" id="fe-floor-4-en" role="tabpanel" aria-labelledby="fe-floor-4-en-tab">
                    4
                </div>
                <div class="tab-pane fade" id="fe-floor-5-en" role="tabpanel" aria-labelledby="fe-floor-5-en-tab">
                    5
                </div>
                <div class="tab-pane fade" id="fe-floor-6-en" role="tabpanel" aria-labelledby="fe-floor-6-en-tab">
                    6
                </div>
                <div class="tab-pane fade" id="fe-floor-7-en" role="tabpanel" aria-labelledby="fe-floor-7-en-tab">
                    7
                </div>
                <div class="tab-pane fade" id="fe-floor-8-en" role="tabpanel" aria-labelledby="fe-floor-8-en-tab">
                    8
                </div>
                <div class="tab-pane fade" id="fe-floor-9-en" role="tabpanel" aria-labelledby="fe-floor-9-en-tab">
                    9
                </div>
                <div class="tab-pane fade" id="fe-floor-10-en" role="tabpanel" aria-labelledby="fe-floor-10-en-tab">
                    10
                </div>
                <div class="tab-pane fade" id="fe-floor-11-en" role="tabpanel" aria-labelledby="fe-floor-11-en-tab">
                    11
                </div>
                <div class="tab-pane fade" id="fe-floor-12-en" role="tabpanel" aria-labelledby="fe-floor-12-en-tab">
                    12
                </div>
                <div class="tab-pane fade" id="fe-floor-13-en" role="tabpanel" aria-labelledby="fe-floor-13-en-tab">
                    13
                </div>
                <div class="tab-pane fade" id="fe-floor-14-en" role="tabpanel" aria-labelledby="fe-floor-14-en-tab">
                    14
                </div>
                <div class="tab-pane fade" id="fe-floor-15-en" role="tabpanel" aria-labelledby="fe-floor-15-en-tab">
                    15
                </div>
            </div>
        </div>
    </div>
</div>