<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ena Residence</title>
	</head>
	<body>
		<header
			class="container py-4 mx-auto d-flex justify-content-between align-items-md-center pb-3 mb-5 border-bottom"
		>
			<h1 class="h4">
				<a href="/">
					<img
						style="width: 150px"
						src="./images/logo.svg"
						title="Ena Residence Logo"
					/>
				</a>
			</h1>
		</header>
	</body>
</html>
