<section class="o-standards">
    <div class="o-standards__content">
        <h2 class="text-primary m-0">Höchste Standards</h2>
        <div class="collapse mt-3" id="standardCollapse">
            <div class="card card-body bg-transparent border-0">
                <p>Im ENA RESIDENCE Komplex erwarten die Bewohner hohe Lebensstandards, die auf ein herausragendes Wohngefühl ausgerichtet sind. Zu den möglichen Merkmalen gehören:</p>
                <p>
                    <strong>Design und Bauqualität:</strong><br />
                    Die Apartments zeichnen sich durch ein modernes und elegantes Design aus. Hochwertige Materialien und neueste Bautechnologien garantieren einen erstklassigen Qualitätsstandard.</p>
                <p>
                    <strong>Nachhaltigkeit und umweltfreundliche Materialien:</strong><br />
                    Unser Engagement für die Umwelt zeigt sich im Einsatz nachhaltiger und ökologischer Materialien, die eine umweltschonende Alternative darstellen.</p>
                <p>
                    <strong>Automatisierung und Hightech-Ausstattung:</strong><br />
                    Die Apartments können mit automatisierten Systemen und modernster Technologie ausgestattet sein, die Komfort und Energieeffizienz bieten.</p>
                <p>
                    <strong>Sicherheit und Zugangskontrolle:</strong><br />
                    Hohe Sicherheitsstandards mit modernen Sicherheitssystemen und Zugangskontrollen sorgen für Sicherheit und Privatsphäre der Bewohner.</p>
                <p>
                    <strong>Gemeinschaft und zusätzliche Angebote:</strong><br />
                    Der Aufbau einer engen Gemeinschaft wird durch zusätzliche Dienstleistungen, Gemeinschaftsbereiche, soziale Treffpunkte und gemeinschaftliche Aktivitäten gefördert.</p>
                <p>
                    <strong>Privatsphäre und ruhiges Ambiente:</strong><br />
                    Durchdachtes Design privater Räume und ruhiger Umgebungen gewährleistet einen friedvollen und angenehmen Lebensstil für die Bewohner.</p>
                <p>
                    <strong>Standort und Aussicht:</strong><br />
                    Die sorgfältige Auswahl des Standorts bietet eine herrliche Aussicht und leichten Zugang zu umliegenden Dienstleistungen und Infrastrukturen.</p>
                <p>
                    <strong>Energieeffizienz und Kostenreduktion:</strong><br />
                    Investitionen in fortschrittliche Technologien und Systeme tragen zur Steigerung der Energieeffizienz und zur Senkung der laufenden Kosten bei.</p>

                <p>Diese Aspekte sind Teil der hohen Lebensstandards bei ENA RESIDENCE. Detaillierte Informationen finden sich in den offiziellen Unterlagen des Unternehmens und können je nach Gebäudestruktur und angebotenen Dienstleistungen variieren.</p>
            </div>
        </div>
        <button class="bg-transparent" type="button" role="button" data-bs-toggle="collapse" data-bs-target="#standardCollapse" aria-expanded="false" aria-controls="standardCollapse" aria-label="Expand">
            <img width="14" height="16" src="../images/down-arrow.svg" alt="" />
        </button>
    </div>
    <div class="swiper standards-swiper w-100">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../images/standards-image-1.webp" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="../images/standards-image-2.webp" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="../images/standards-image-3.webp" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="../images/standards-image-4.webp" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="../images/standards-image-5.webp" alt="" />
            </div>
        </div>
    </div>
</section>
