<div class="offcanvas offcanvas-end offcanvasEntries w-100 border-0" tabindex="-1" id="offcanvasFirstEntryShq" aria-labelledby="offcanvasFirstEntryShqLabel">
	<div class="offcanvas-header p-0 mb-1">
		<div class="container">
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
				<img width="27" height="24" src="../images/down-arrow.svg" alt="" />
			</button>
		</div>
	</div>
	<div class="offcanvas-body p-0">
		<div class="container">
			<h2>Përtej mureve, një botë e re e krijuar për ju.</h2>
			<ul class="nav nav-tabs border-0 mb-2 mb-lg-3" id="firstEntryShqTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="fe-floor-1-shq-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-1-shq" type="button" role="tab" aria-controls="fe-floor-1-shq" aria-selected="true">
						Kati 1
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="fe-floor-2-shq-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-2-shq" type="button" role="tab" aria-controls="fe-floor-2-shq" aria-selected="false">
						Kati 2
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="fe-floor-3-shq-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-3-shq" type="button" role="tab" aria-controls="fe-floor-3-shq" aria-selected="false">
						Kati 3
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="fe-floor-4-shq-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-4-shq" type="button" role="tab" aria-controls="fe-floor-4-shq" aria-selected="false">
						Kati 4
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="fe-floor-5-shq-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-5-shq" type="button" role="tab" aria-controls="fe-floor-5-shq" aria-selected="false">
						Kati 5
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="fe-floor-6-shq-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-6-shq" type="button" role="tab" aria-controls="fe-floor-6-shq" aria-selected="false">
						Kati 6
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="fe-floor-7-shq-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-7-shq" type="button" role="tab" aria-controls="fe-floor-7-shq" aria-selected="false">
						Kati 7
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="fe-floor-8-shq-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-8-shq" type="button" role="tab" aria-controls="fe-floor-8-shq" aria-selected="false">
						Kati 8
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="fe-floor-9-shq-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-9-shq" type="button" role="tab" aria-controls="fe-floor-9-shq" aria-selected="false">
						Kati 9
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="fe-floor-10-shq-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-10-shq" type="button" role="tab" aria-controls="fe-floor-10-shq" aria-selected="false">
						Kati 10
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="fe-floor-11-shq-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-11-shq" type="button" role="tab" aria-controls="fe-floor-11-shq" aria-selected="false">
						Kati 11
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="fe-floor-12-shq-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-12-shq" type="button" role="tab" aria-controls="fe-floor-12-shq" aria-selected="false">
						Kati 12
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="fe-floor-13-shq-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-13-shq" type="button" role="tab" aria-controls="fe-floor-13-shq" aria-selected="false">
						Kati 13
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="fe-floor-14-shq-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-14-shq" type="button" role="tab" aria-controls="fe-floor-14-shq" aria-selected="false">
						Kati 14
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="fe-floor-15-shq-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-15-shq" type="button" role="tab" aria-controls="fe-floor-15-shq" aria-selected="false">
						Kati 15
					</button>
				</li>
			</ul>
			<div class="tab-content" id="firstEntryShqTabContent">
				<div class="tab-pane fade show active" id="fe-floor-1-shq" role="tabpanel" aria-labelledby="fe-floor-1-shq-tab">
					{{> h1-kati1 }}
				</div>
				<div class="tab-pane fade" id="fe-floor-2-shq" role="tabpanel" aria-labelledby="fe-floor-2-shq-tab">
					2
				</div>
				<div class="tab-pane fade" id="fe-floor-3-shq" role="tabpanel" aria-labelledby="fe-floor-3-shq-tab">
					3
				</div>
				<div class="tab-pane fade" id="fe-floor-4-shq" role="tabpanel" aria-labelledby="fe-floor-4-shq-tab">
					4
				</div>
				<div class="tab-pane fade" id="fe-floor-5-shq" role="tabpanel" aria-labelledby="fe-floor-5-shq-tab">
					5
				</div>
				<div class="tab-pane fade" id="fe-floor-6-shq" role="tabpanel" aria-labelledby="fe-floor-6-shq-tab">
					6
				</div>
				<div class="tab-pane fade" id="fe-floor-7-shq" role="tabpanel" aria-labelledby="fe-floor-7-shq-tab">
					7
				</div>
				<div class="tab-pane fade" id="fe-floor-8-shq" role="tabpanel" aria-labelledby="fe-floor-8-shq-tab">
					8
				</div>
				<div class="tab-pane fade" id="fe-floor-9-shq" role="tabpanel" aria-labelledby="fe-floor-9-shq-tab">
					9
				</div>
				<div class="tab-pane fade" id="fe-floor-10-shq" role="tabpanel" aria-labelledby="fe-floor-10-shq-tab">
					10
				</div>
				<div class="tab-pane fade" id="fe-floor-11-shq" role="tabpanel" aria-labelledby="fe-floor-11-shq-tab">
					11
				</div>
				<div class="tab-pane fade" id="fe-floor-12-shq" role="tabpanel" aria-labelledby="fe-floor-12-shq-tab">
					12
				</div>
				<div class="tab-pane fade" id="fe-floor-13-shq" role="tabpanel" aria-labelledby="fe-floor-13-shq-tab">
					13
				</div>
				<div class="tab-pane fade" id="fe-floor-14-shq" role="tabpanel" aria-labelledby="fe-floor-14-shq-tab">
					14
				</div>
				<div class="tab-pane fade" id="fe-floor-15-shq" role="tabpanel" aria-labelledby="fe-floor-15-shq-tab">
					15
				</div>
			</div>
		</div>
	</div>
</div>