<div class="offcanvas offcanvas-end offcanvasEntries w-100 border-0" tabindex="-1" id="offcanvasFirstEntry" aria-labelledby="offcanvasFirstEntryLabel">
    <div class="offcanvas-header p-0 mb-1">
        <div class="container">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                <img src="../images/down-arrow.svg" alt="" />
            </button>
        </div>
    </div>
    <div class="offcanvas-body p-0">
        <div class="container">
            <h2>Përtej mureve, një botë e re e krijuar për ju.</h2>
            <ul class="nav nav-tabs border-0 mb-2 mb-lg-3" id="firstEntryTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="fe-floor-1-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-1" type="button" role="tab" aria-controls="fe-floor-1" aria-selected="true">
                        Kati 1
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-2-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-2" type="button" role="tab" aria-controls="fe-floor-2" aria-selected="false">
                        Kati 2
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-3-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-3" type="button" role="tab" aria-controls="fe-floor-3" aria-selected="false">
                        Kati 3
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-4-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-4" type="button" role="tab" aria-controls="fe-floor-4" aria-selected="false">
                        Kati 4
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-5-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-5" type="button" role="tab" aria-controls="fe-floor-5" aria-selected="false">
                        Kati 5
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-6-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-6" type="button" role="tab" aria-controls="fe-floor-6" aria-selected="false">
                        Kati 6
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-7-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-7" type="button" role="tab" aria-controls="fe-floor-7" aria-selected="false">
                        Kati 7
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-8-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-8" type="button" role="tab" aria-controls="fe-floor-8" aria-selected="false">
                        Kati 8
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-9-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-9" type="button" role="tab" aria-controls="fe-floor-9" aria-selected="false">
                        Kati 9
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-10-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-10" type="button" role="tab" aria-controls="fe-floor-10" aria-selected="false">
                        Kati 10
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-11-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-11" type="button" role="tab" aria-controls="fe-floor-11" aria-selected="false">
                        Kati 11
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-12-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-12" type="button" role="tab" aria-controls="fe-floor-12" aria-selected="false">
                        Kati 12
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-13-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-13" type="button" role="tab" aria-controls="fe-floor-13" aria-selected="false">
                        Kati 13
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-14-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-14" type="button" role="tab" aria-controls="fe-floor-14" aria-selected="false">
                        Kati 14
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-15-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-15" type="button" role="tab" aria-controls="fe-floor-15" aria-selected="false">
                        Kati 15
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="firstEntryTabContent">
                <div class="tab-pane fade show active" id="fe-floor-1" role="tabpanel" aria-labelledby="fe-floor-1-tab">
                    {{> h1-kati1 }}
                </div>
                <div class="tab-pane fade" id="fe-floor-2" role="tabpanel" aria-labelledby="fe-floor-2-tab">
                    2
                </div>
                <div class="tab-pane fade" id="fe-floor-3" role="tabpanel" aria-labelledby="fe-floor-3-tab">
                    3
                </div>
                <div class="tab-pane fade" id="fe-floor-4" role="tabpanel" aria-labelledby="fe-floor-4-tab">
                    4
                </div>
                <div class="tab-pane fade" id="fe-floor-5" role="tabpanel" aria-labelledby="fe-floor-5-tab">
                    5
                </div>
                <div class="tab-pane fade" id="fe-floor-6" role="tabpanel" aria-labelledby="fe-floor-6-tab">
                    6
                </div>
                <div class="tab-pane fade" id="fe-floor-7" role="tabpanel" aria-labelledby="fe-floor-7-tab">
                    7
                </div>
                <div class="tab-pane fade" id="fe-floor-8" role="tabpanel" aria-labelledby="fe-floor-8-tab">
                    8
                </div>
                <div class="tab-pane fade" id="fe-floor-9" role="tabpanel" aria-labelledby="fe-floor-9-tab">
                    9
                </div>
                <div class="tab-pane fade" id="fe-floor-10" role="tabpanel" aria-labelledby="fe-floor-10-tab">
                    10
                </div>
                <div class="tab-pane fade" id="fe-floor-11" role="tabpanel" aria-labelledby="fe-floor-11-tab">
                    11
                </div>
                <div class="tab-pane fade" id="fe-floor-12" role="tabpanel" aria-labelledby="fe-floor-12-tab">
                    12
                </div>
                <div class="tab-pane fade" id="fe-floor-13" role="tabpanel" aria-labelledby="fe-floor-13-tab">
                    13
                </div>
                <div class="tab-pane fade" id="fe-floor-14" role="tabpanel" aria-labelledby="fe-floor-14-tab">
                    14
                </div>
                <div class="tab-pane fade" id="fe-floor-15" role="tabpanel" aria-labelledby="fe-floor-15-tab">
                    15
                </div>
            </div>
        </div>
    </div>
</div>