<div class="offcanvas offcanvas-end offcanvasEntries w-100 border-0" tabindex="-1" id="offcanvasSecondEntry" aria-labelledby="offcanvasSecondEntryLabel">
    <div class="offcanvas-header p-0 mb-1">
        <div class="container">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                <img src="../images/down-arrow.svg" alt="" />
            </button>
        </div>
    </div>
    <div class="offcanvas-body p-0">
        <div class="container">
            <h2>Luxury on the highest floors</h2>
            <ul class="nav nav-tabs border-0 mb-2 mb-lg-3" id="secondEntryTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="se-floor-1-tab" data-bs-toggle="tab" data-bs-target="#se-floor-1" type="button" role="tab" aria-controls="se-floor-1" aria-selected="true">
                        Kati 1
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="se-floor-2-tab" data-bs-toggle="tab" data-bs-target="#se-floor-2" type="button" role="tab" aria-controls="se-floor-2" aria-selected="false">
                        Kati 2
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="se-floor-3-tab" data-bs-toggle="tab" data-bs-target="#se-floor-3" type="button" role="tab" aria-controls="se-floor-3" aria-selected="false">
                        Kati 3
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="se-floor-4-tab" data-bs-toggle="tab" data-bs-target="#se-floor-4" type="button" role="tab" aria-controls="se-floor-4" aria-selected="false">
                        Kati 4
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="se-floor-5-tab" data-bs-toggle="tab" data-bs-target="#se-floor-5" type="button" role="tab" aria-controls="se-floor-5" aria-selected="false">
                        Kati 5
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="se-floor-6-tab" data-bs-toggle="tab" data-bs-target="#se-floor-6" type="button" role="tab" aria-controls="se-floor-6" aria-selected="false">
                        Kati 6
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="se-floor-7-tab" data-bs-toggle="tab" data-bs-target="#se-floor-7" type="button" role="tab" aria-controls="se-floor-7" aria-selected="false">
                        Kati 7
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="se-floor-8-tab" data-bs-toggle="tab" data-bs-target="#se-floor-8" type="button" role="tab" aria-controls="se-floor-8" aria-selected="false">
                        Kati 8
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="se-floor-9-tab" data-bs-toggle="tab" data-bs-target="#se-floor-9" type="button" role="tab" aria-controls="se-floor-9" aria-selected="false">
                        Kati 9
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="secondEntryTabContent">
                <div class="tab-pane fade show active" id="se-floor-1" role="tabpanel" aria-labelledby="se-floor-1-tab">
                    1
                </div>
                <div class="tab-pane fade" id="se-floor-2" role="tabpanel" aria-labelledby="se-floor-2-tab">
                    2
                </div>
                <div class="tab-pane fade" id="se-floor-3" role="tabpanel" aria-labelledby="se-floor-3-tab">
                    3
                </div>
                <div class="tab-pane fade" id="se-floor-4" role="tabpanel" aria-labelledby="se-floor-4-tab">
                    4
                </div>
                <div class="tab-pane fade" id="se-floor-5" role="tabpanel" aria-labelledby="se-floor-5-tab">
                    5
                </div>
                <div class="tab-pane fade" id="se-floor-6" role="tabpanel" aria-labelledby="se-floor-6-tab">
                    6
                </div>
                <div class="tab-pane fade" id="se-floor-7" role="tabpanel" aria-labelledby="se-floor-7-tab">
                    7
                </div>
                <div class="tab-pane fade" id="se-floor-8" role="tabpanel" aria-labelledby="se-floor-8-tab">
                    8
                </div>
                <div class="tab-pane fade" id="se-floor-9" role="tabpanel" aria-labelledby="se-floor-9-tab">
                    9
                </div>
            </div>
        </div>
    </div>
</div>