<section class="o-intro vh-100 w-100" style="background-image: url(/images/hero.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-4 g-0">
                <div class="h1 text-white text-end mb-0">Ena</div>
            </div>
            <div class="col-8 offset-4 g-0">
                <div class="h1 text-white text-start mb-0">Residence</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 col-md-5">
                <h3 class="text-white text-center font-manrope--regular mb-0"> Ku stili jetësor takon elegancën dhe cilësinë në çdo detaj!</h3>
            </div>
        </div>
    </div>
    <button class="o-intro__scroll-down bg-transparent border-0 d-flex flex-column align-items-center" id="scroll-down-btn">
        <figure class="mb-2">
            <img src="../images/down-arrow-white.svg" alt="" />
        </figure>
        <small class="text-uppercase text-white">Shiko më poshtë</small>
    </button>
</section>