<div class="animation vh-100 w-100 bg-primary">
    <div class="animation-wrapper">
        <div class="line line1 vertical"></div>
        <div class="line line2"></div>
        <div class="line line3 vertical"></div>
        <div class="line line4"></div>
        <div class="line line5 vertical"></div>
        <div class="line line6"></div>
        <div class="line line7 vertical"></div>
        <div class="line line8"></div>
        <div class="line line9 vertical"></div>
        <div class="line line10"></div>
        <div class="line line11 vertical"></div>
        <div class="line line12"></div>
        <div class="line line13 vertical"></div>
        <div class="line line14"></div>
    </div>
</div>