<section class="o-overview">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-5">
				<figure class="o-overview__image mb-0">
					<img
						src="../images/standards-image-3.webp"
						alt=""
						class="w-100 h-100"
					/>
				</figure>
			</div>
			<div
				class="col-12 col-lg-6 offset-lg-1 d-flex flex-column align-items-center"
			>
				<div class="o-overview__content">
					<h2 class="text-primary mb-2 mb-lg-4">Rreth nesh</h2>
					<p>
						Ju prezantojmë me kënaqësi emrin <strong>ENA RESIDENCE</strong>, një
						projekt i ndërtesave rezidenciale me një shije të jashtëzakonshme
						për ekselencën dhe një qasje të përkushtuar ndaj cilësisë së lartë
						të jetesës. Ky projekt zhvillohet nga G & A Invest, një kompani e re
						ne Kosovë, por e njohur në fushën e investimeve rezidenciale në
						Zvicer, e cila me krenari prezanton një vizion të pasur dhe një
						kujdes të veçantë për detajet.
					</p>
					<p>
						<strong>ENA RESIDENCE</strong> sjell me vete një histori të pasur të
						ndërtesave të veçanta dhe një lidhje të thellë me traditën e
						ndërtimit të lartë cilësor në Shtetin Zviceran. Kjo nismë e fundit
						përfshin një ekip të pasionuar dhe një predikatë të vërtetuar në
						projektet e ndërtimit me një qëllim të qartë: ofrimi i një jetese të
						jashtëzakonshme me standarde të larta.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
