<section class="o-summary">
	<div class="container">
		<div class="row">
			<div class="col-6 col-lg-3 mb-3 mb-xl-0 d-flex flex-column align-items-center">
				<div class="o-summary__item">
					<figure class="o-summary__item__first-img">
						<img src="../images/summary-image-1.webp" alt="" class="w-100 h-100"/>
					</figure>
					<h3 class="mb-2">Parkingjet</h3>
					<p class="mb-0">ENA RESIDENCE përbëhet nga një infrastrukturë parkimi e përparuar, duke ofruar mundësi të gjera të parkimit për banorët e saj. Me një parking të brendshme dhe të jashtme, ENA RESIDENCE i plotëson nevojat e banorëve për vendosje të sigurta dhe të përhershme për makinat e tyre.</p>
				</div>
			</div>
			<div class="col-6 col-lg-3 mb-3 mb-xl-0 d-flex flex-column align-items-center">
				<div class="o-summary__item">
					<figure class="o-summary__item__second-img">
						<img src="../images/summary-image-2.webp" alt="" class="w-100 h-100"/>
					</figure>
					<h3 class="mb-2">Terasat e gjelberta</h3>
					<p class="mb-0">Terasat e gjelbra të mbuluara me gjelbërim të pasur, duke krijuar një ambient të pazëvendësueshëm dhe të freskët për banorët e saj. Këto terasa sjellin një marrëdhënie të veçantë me natyrën dhe ofrojnë një oazë private për banorët për të relaksuar dhe shijuar ajrin e pastër. Me pemë, lule dhe gjelbërim bujor, terasat bëhen një zgjatim i ambientit të brendshëm dhe shërbejnë si hapësira të shkëlqyera për takime sociale, lexim ose thjesht për të shijuar qetësinë.</p>
				</div>
			</div>
			<div class="col-6 col-lg-3 mb-3 mb-xl-0 d-flex flex-column align-items-center">
				<div class="o-summary__item">
					<figure class="o-summary__item__third-img">
						<img src="../images/summary-image-3.webp" alt="" class="w-100 h-100"/>
					</figure>
					<h3 class="mb-2">Lokacioni</h3>
					<p class="mb-0">ENA RESIDENCE do të ndërtohet në qytetin e Drenasit, duke ofruar një lokacion të privilegjuar për banorët e saj.<br />Këto koordinata gjeografike shënojnë një vendndodhje strategjike në zemër të qytetit, duke lejuar qasje të lehtë në infrastrukturën lokale dhe shërbimet e nevojshme.</p>
				</div>
			</div>
			<div class="col-6 col-lg-3 mb-3 mb-xl-0 d-flex flex-column align-items-center">
				<div class="o-summary__item">
					<figure class="o-summary__item__fourth-img">
						<img src="../images/summary-image-4.webp" alt="" class="w-100 h-100"/>
					</figure>
					<h3 class="mb-2">Materiale Ekologjike dhe të Qëndrueshme në Ndërtim</h3>
					<ul>
						<li>Panelet me ventilim në fasadë</li>
						<li>Qelqi për të gjitha stinët</li>
						<li>Përdorimi i materialeve ekologjike për izolimin termik</li>
						<li>Përdorimi i materialeve për izolimin akustik</li>
						<li>Energjia diellore</li>
						<li>Sistemet e mbledhjes së ujit të shiut</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
