<section class="o-standards">
	<div class="o-standards__content">
		<h2 class="text-primary m-0">Standartet e jetesës</h2>
		<div class="collapse mt-3" id="standardCollapse">
			<div class="card card-body bg-transparent border-0">
				<p>
					Standartet e jetesës në kompleksin ENA RESIDENCE janë të larta dhe
					përqendrohen në të siguruar një përvojë të mrekullueshme të banimit
					për banorët. disa nga elementët që mund të përfshihen:
				</p>
				<p>
					<strong>Dizajni dhe Kualitet i Ndërtimit:</strong><br />
					Apartamentet janë të projektuara me një dizajn modern dhe elegant,
					duke përdorur materialet më të mira dhe teknologjinë e fundit në
					ndërtim për të garantuar një standard të lartë të cilësisë.
				</p>
				<p>
					<strong>Materiale të Qëndrueshme dhe Ekologjike:</strong><br />
					Përkushtimi ndaj mjedisit përfshin përdorimin e materialeve cilesore
					të qëndrueshme dhe ekologjike, duke ofruar një alternativë
					eko-miqësore.
				</p>
				<p>
					<strong>Automatizim dhe Teknologji të Avancuar:</strong><br />
					Apartamentet mund të përfshijnë sisteme të automatizuara dhe
					teknologji të avancuar për komoditetin dhe efikasitetin e energjisë.
				</p>
				<p>
					<strong>Siguri dhe Kontroll i Qasjes:</strong><br />
					Standartet e larta të sigurisë përfshijnë sisteme moderne të sigurisë
					dhe kontrolle të qasjes për të garantuar sigurinë dhe privatësinë e
					banorëve.
				</p>
				<p>
					<strong>Përbashkësi dhe Shërbime Shtesë:</strong><br />
					Krijimi i një përbashkësie të fortë me shërbime shtesë, duke përfshirë
					qendra të përbashkëta, zona sociale, dhe aktivitete komunitare.
				</p>
				<p>
					<strong>Privatësi dhe Ambient të Qetë:</strong><br />
					Dizajni i kujdesshëm i hapësirave private dhe ambienteve të qeta për
					të siguruar një jetesë të qetë dhe të përshtatshme për banorët.
				</p>
				<p>
					<strong>Lokacioni dhe Pamja:</strong><br />
					Vendosja e kujdesshme e kompleksit dhe ofrimi i një pamje të bukur dhe
					lehtësi qasjeje në shërbimet dhe infrastrukturën e rrethinës.
				</p>
				<p>
					<strong
						>Efikasitet Energjetik dhe Mjetet e Rënies së Kostojeve:</strong
					><br />
					Investimet në teknologji dhe sisteme të avancuara për të rritur
					efikasitetin e energjisë dhe për të zvogëluar kostot e përditshme
				</p>
				<p>
					Këto janë vetëm disa nga aspektet që mund të përfshihen në standartet
					e jetesës në kompleksin ENA RESIDENCE. Detajet e plota mund të gjenden
					në materiale zyrtare të ofrueshme nga kompania dhe mund të variojnë në
					varësi të strukturës së ndërtesës dhe shërbimeve të ofruara.
				</p>
			</div>
		</div>
		<button
			class="bg-transparent"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#standardCollapse"
			aria-expanded="false"
			aria-controls="standardCollapse"
		>
			<img src="../images/down-arrow.svg" alt="" />
		</button>
	</div>
	<div class="swiper standards-swiper w-100">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="../images/standards-image-1.webp" alt="" />
			</div>
			<div class="swiper-slide">
				<img src="../images/standards-image-2.webp" alt="" />
			</div>
			<div class="swiper-slide">
				<img src="../images/standards-image-3.webp" alt="" />
			</div>
			<div class="swiper-slide">
				<img src="../images/standards-image-4.webp" alt="" />
			</div>
			<div class="swiper-slide">
				<img src="../images/standards-image-5.webp" alt="" />
			</div>
		</div>
	</div>
</section>
