<section class="o-standards">
    <div class="o-standards__content">
        <h2 class="text-primary m-0">Standards of living</h2>
        <div class="collapse mt-3" id="standardCollapse">
            <div class="card card-body bg-transparent border-0 p-0">
                <p>Our company is sustainable because we are dedicated to environmentally responsible architecture. We prioritize eco-friendly materials, energy efficiency, and waste reduction in our projects, reducing our carbon footprint. </p>
                <p>Our commitment to renewable energy, healthy indoor environments, and community engagement ensures that our buildings have a positive impact on the planet and the people who inhabit them. We continually strive for innovation and compliance with sustainability standards, making us a trusted choice for sustainable architecture solutions.</p>
            </div>
        </div>
        <button class="bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#standardCollapse" aria-expanded="false" aria-controls="standardCollapse">
            <img src="../images/down-arrow.svg" alt="" />
        </button>
    </div>
    <div class="swiper standards-swiper w-100">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../images/standards-image-1.jpg" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="../images/standards-image-2.jpg" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="../images/standards-image-3.jpg" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="../images/standards-image-4.jpg" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="../images/standards-image-5.jpg" alt="" />
            </div>
        </div>
    </div>
</section>