<section class="o-standards">
    <div class="o-standards__content">
        <h2 class="text-primary m-0">Standards of living </h2>
        <div class="collapse mt-3" id="standardCollapse">
            <div class="card card-body bg-transparent border-0">
                <p>The life standards at ENA RESIDENCE complex are high and focused on ensuring a wonderful living experience for residents. Some of the elements that can be included are:</p>
                <p>
                    <strong>Design and Construction Quality:</strong><br />
                    The apartments are designed with a modern and elegant touch, utilizing the finest materials and cutting-edge construction technology to ensure a high standard of quality.</p>
                <p>
                    <strong>Sustainable and Eco-friendly Materials:</strong><br />
                    The commitment to the environment involves the use of sustainable and ecological materials, offering an eco-friendly alternative.</p>
                <p>
                    <strong>Automation and Advanced Technology:</strong><br />
                    Apartments may include automated systems and advanced technology for convenience and energy efficiency.</p>
                <p>
                    <strong>Security and Access Control:</strong><br />
                    High-security standards include modern security systems and access controls to ensure residents' safety and privacy.</p>
                <p>
                    <strong>Community and Additional Services:</strong><br />
                    Establishing a strong community with additional services, including common areas, social zones, and community activities.</p>
                <p>
                    <strong>Privacy and Serene Environment:</strong><br />
                    Careful design of private spaces and tranquil environments to ensure a peaceful and suitable lifestyle for residents.</p>
                <p>
                    <strong>Location and View:</strong><br />
                    Careful placement of the complex and providing a beautiful view with easy access to surrounding services and infrastructure.</p>
                <p>
                    <strong>Energy Efficiency and Cost Reduction Measures:</strong><br />
                    Investments in technology and advanced systems to increase energy efficiency and reduce daily costs.</p>

                <p>These are just some of the aspects that may be included in the lifestyle standards at ENA RESIDENCE. Complete details can be found in official materials provided by the company and may vary depending on the building structure and services offered.</p>
            </div>
        </div>
        <button class="bg-transparent" type="button" role="button" data-bs-toggle="collapse" data-bs-target="#standardCollapse" aria-expanded="false" aria-controls="standardCollapse" aria-label="Expand">
            <img width="14" height="16" src="../images/down-arrow.svg" alt="" />
        </button>
    </div>
    <div class="swiper standards-swiper w-100">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../images/standards-image-1.webp" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="../images/standards-image-2.webp" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="../images/standards-image-3.webp" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="../images/standards-image-4.webp" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="../images/standards-image-5.webp" alt="" />
            </div>
        </div>
    </div>
</section>
