<section class="o-summary">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3 mb-3 mb-xl-0 d-flex flex-column align-items-center">
                <div class="o-summary__item">
                    <figure class="o-summary__item__first-img">
                        <img src="../images/summary-image-1.jpg" alt="" class="w-100 h-100" />
                    </figure>
                    <h3 class="font-outfit--medium mb-2">Swiss standards of living</h3>
                    <p class="font-manrope--regular mb-0">Our company is sustainable because we are dedicated to environmentally responsible architecture. We prioritize eco-friendly materials, energy efficiency, and waste reduction in our projects, reducing our carbon footprint. </p>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-3 mb-xl-0 d-flex flex-column align-items-center">
                <div class="o-summary__item">
                    <figure class="o-summary__item__second-img">
                        <img src="../images/summary-image-2.jpg" alt="" class="w-100 h-100" />
                    </figure>
                    <h3 class="font-outfit--medium mb-2">Swiss standards of living</h3>
                    <p class="font-manrope--regular mb-0">Our company is sustainable because we are dedicated to environmentally responsible architecture. We prioritize eco-friendly materials, energy efficiency, and waste reduction in our projects, reducing our carbon footprint. </p>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-3 mb-xl-0 d-flex flex-column align-items-center">
                <div class="o-summary__item">
                    <figure class="o-summary__item__third-img">
                        <img src="../images/summary-image-3.jpg" alt="" class="w-100 h-100" />
                    </figure>
                    <h3 class="font-outfit--medium mb-2">Swiss standards of living</h3>
                    <p class="font-manrope--regular mb-0">Our company is sustainable because we are dedicated to environmentally responsible architecture. We prioritize eco-friendly materials, energy efficiency, and waste reduction in our projects, reducing our carbon footprint. </p>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-3 mb-xl-0 d-flex flex-column align-items-center">
                <div class="o-summary__item">
                    <figure class="o-summary__item__fourth-img">
                        <img src="../images/summary-image-4.jpg" alt="" class="w-100 h-100" />
                    </figure>
                    <h3 class="font-outfit--medium mb-2">Swiss standards of living</h3>
                    <p class="font-manrope--regular mb-0">Our company is sustainable because we are dedicated to environmentally responsible architecture. We prioritize eco-friendly materials, energy efficiency, and waste reduction in our projects, reducing our carbon footprint. </p>
                </div>
            </div>
        </div>
    </div>
</section>