<section class="o-summary">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3 mb-3 mb-xl-0 d-flex flex-column align-items-center">
                <div class="o-summary__item">
                    <figure class="o-summary__item__first-img">
                        <img src="../images/summary-image-1.webp" alt="" class="w-100 h-100"/>
                    </figure>
                    <h3 class="mb-2">Parking Lots</h3>
                    <p class="mb-0">ENA RESIDENCE consists of an advanced parking infrastructure, offering ample parking opportunities for its residents. With both indoor and outdoor parking, ENA RESIDENCE fulfills residents' needs for secure and permanent spaces for their vehicles.</p>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-3 mb-xl-0 d-flex flex-column align-items-center">
                <div class="o-summary__item">
                    <figure class="o-summary__item__second-img">
                        <img src="../images/summary-image-2.webp" alt="" class="w-100 h-100"/>
                    </figure>
                    <h3 class="mb-2">Green Terraces</h3>
                    <p class="mb-0">Green terraces covered with rich vegetation, creating an unparalleled and fresh environment for its residents. These terraces establish a unique connection with nature and provide a private oasis for residents to relax and enjoy the clean air. With trees, flowers, and abundant greenery, the terraces become an extension of the indoor environment and serve as excellent spaces for social gatherings, reading, or simply enjoying tranquility.</p>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-3 mb-xl-0 d-flex flex-column align-items-center">
                <div class="o-summary__item">
                    <figure class="o-summary__item__third-img">
                        <img src="../images/summary-image-3.webp" alt="" class="w-100 h-100"/>
                    </figure>
                    <h3 class="mb-2">Location</h3>
                    <p class="mb-0">ENA RESIDENCE will be built in the city of Drenas, offering a privileged location for its residents. These geographical coordinates mark a strategically positioned site at the heart of the city, allowing easy access to local infrastructure and essential services.</p>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-3 mb-xl-0 d-flex flex-column align-items-center">
                <div class="o-summary__item">
                    <figure class="o-summary__item__fourth-img">
                        <img src="../images/summary-image-4.webp" alt="" class="w-100 h-100"/>
                    </figure>
                    <h3 class="mb-2">Sustainable and Eco-friendly Building Materials</h3>
                    <ul>
                        <li>Ventilated facade panels</li>
                        <li>Four-season glass</li>
                        <li>Use of ecological materials for thermal insulation</li>
                        <li>Utilization of soundproofing materials</li>
                        <li>Solar energy</li>
                        <li>Rainwater harvesting systems</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
