<section class="o-overview">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <figure class="o-overview__image mb-0">
                    <img src="../images/standards-image-3.webp" alt="" class="w-100 h-100"/>
                </figure>
            </div>
            <div class="col-12 col-lg-6 offset-lg-1 d-flex flex-column align-items-center">
                <div class="o-overview__content">
                    <h2 class="text-primary mb-2 mb-lg-4">Über uns</h2>
                    <p>Wir, die Gründer von <strong>GA Invest</strong>, sind ein Familienunternehmen mit vielen Visionen und hohen Ambitionen. Wir verfügen über langjährige Erfahrung im Bereich Bau und Immobilienentwicklung und bringen ein umfangreiches Netzwerk an Experten aus der Branche mit. Mit unserem fundierten Fachwissen und unserer Leidenschaft für nachhaltiges Bauen streben wir danach, die Bauindustrie zu transformieren und zukunftsweisende Projekte zu realisieren.</p>
                    <p>In der <strong>ENA Residence</strong> heissen wir Sie willkommen in der Zukunft des Wohnens! Die revolutionären neuen Eigentumswohnungen bieten Ihnen ein Leben voller Komfort, Modernität und Luxus. Wir bieten Lebensraum und schaffen Arbeitswelten, indem wir nebst revolutionären Eigentumswohnungen auch in smarte Ladenflächen investieren, welche wir kaufen und verkaufen. Durch gezielte Investitionen in Startups sowohl in der Baubranche als auch im technischen Bereich möchte GA Invest der Gesellschaft die Möglichkeit bieten zu Wachsen und ihre innovativen und gesellschaftlich relevanten Projekte zu realisieren. Dabei steht die Förderung der Lebensqualität der Menschen im Kosovo im Vordergrund, die sowohl ökologisch als auch ökonomisch sinnvoll sind.</p>
                </div>
            </div>
        </div>
    </div>
</section>
