<div class="accordion accordion-flush" id="secondEntryEighthFloor">
    <div class="accordion-item">
        <div class="accordion-header" id="b_eighthFloor_ApartOneHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#b_eighthFloor_ApartOneCollapse" aria-expanded="false" aria-controls="b_eighthFloor_ApartOneCollapse">
                Banesa nr.32 - Njëdhomëshe
            </button>
        </div>
        <div id="b_eighthFloor_ApartOneCollapse" class="accordion-collapse collapse" aria-labelledby="b_eighthFloor_ApartOneHeading" data-bs-parent="#secondEntryEighthFloor">
            <div class="container">
                <div class="row justify-content-between flex-column-reverse flex-lg-row">
                    <div class="col-12 col-lg-5">
                        <div class="info-row">
                            <p>Q.D & Kuzhina + Korridor</p>
                            <p>31.19 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Dhome gjumi 1</p>
                            <p>13.74 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Banjo + WC</p>
                            <p>4.67 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Depo</p>
                            <p>1.76 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Banesa / Siperfaqe Bruto</p>
                            <p>61.53 m2</p>
                        </div>
                        <a href="#" class="a-btn-default d-flex flex-row align-items-center justify-content-center mt-3">
                            <img src="../images/download.svg" class="download-blue" alt="" />
                            <img src="../images/download-white.svg" alt="" class="download-white"/>
                            download floor plan and info
                        </a>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-start justify-content-lg-end justify-content-center mb-2 mb-lg-0">
                        <img src="/images/hyrja_b/BANESA%2032.webp" alt="" class="apartment-image"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="b_eighthFloor_ApartTwoHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#b_eighthFloor_ApartTwoCollapse" aria-expanded="false" aria-controls="b_eighthFloor_ApartTwoCollapse">
                Banesa nr.33 - Dydhomëshe
            </button>
        </div>
        <div id="b_eighthFloor_ApartTwoCollapse" class="accordion-collapse collapse" aria-labelledby="b_eighthFloor_ApartTwoHeading" data-bs-parent="#secondEntryEighthFloor">
            <div class="container">
                <div class="row justify-content-between flex-column-reverse flex-lg-row">
                    <div class="col-12 col-lg-5">
                        <div class="info-row">
                            <p>Q.D & Kuzhina + Korridor</p>
                            <p>38.12 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Dhome gjumi 1</p>
                            <p>16.08 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Dhome gjumi 2</p>
                            <p>12.20 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Banjo + WC</p>
                            <p>5.01 m2</p>
                        </div>
                        <div class="info-row">
                            <p>WC</p>
                            <p>2.16 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Depo</p>
                            <p>2.28 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Terasa 1 </p>
                            <p>15.61 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Terasa 2 </p>
                            <p>30.97 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Banesa / Siperfaqe Bruto</p>
                            <p>95.13 m2</p>
                        </div>
                        <a href="#" class="a-btn-default d-flex flex-row align-items-center justify-content-center mt-3">
                            <img src="../images/download.svg" class="download-blue" alt="" />
                            <img src="../images/download-white.svg" alt="" class="download-white"/>
                            download floor plan and info
                        </a>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-start justify-content-lg-end justify-content-center mb-2 mb-lg-0">
                        <img src="/images/hyrja_b/BANESA%2033.webp" alt="" class="apartment-image"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>