<div class="offcanvas offcanvas-end offcanvasEntries w-100 border-0" tabindex="-1" id="offcanvasSecondEntryShq" aria-labelledby="offcanvasSecondEntryShqLabel">
	<div class="offcanvas-header p-0 mb-1">
		<div class="container">
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
				<img width="27" height="24" src="../images/down-arrow.svg" alt="" />
			</button>
		</div>
	</div>
	<div class="offcanvas-body p-0">
		<div class="container">
			<h2>Përtej mureve, një botë e re e krijuar për ju.</h2>
			<ul class="nav nav-tabs border-0 mb-2 mb-lg-3" id="secondEntryShqTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="se-floor-1-shq-tab" data-bs-toggle="tab" data-bs-target="#se-floor-1-shq" type="button" role="tab" aria-controls="se-floor-1-shq" aria-selected="true">
						Kati 1
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="se-floor-2-shq-tab" data-bs-toggle="tab" data-bs-target="#se-floor-2-shq" type="button" role="tab" aria-controls="se-floor-2-shq" aria-selected="false">
						Kati 2
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="se-floor-3-shq-tab" data-bs-toggle="tab" data-bs-target="#se-floor-3-shq" type="button" role="tab" aria-controls="se-floor-3-shq" aria-selected="false">
						Kati 3
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="se-floor-4-shq-tab" data-bs-toggle="tab" data-bs-target="#se-floor-4-shq" type="button" role="tab" aria-controls="se-floor-4-shq" aria-selected="false">
						Kati 4
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="se-floor-5-shq-tab" data-bs-toggle="tab" data-bs-target="#se-floor-5-shq" type="button" role="tab" aria-controls="se-floor-5-shq" aria-selected="false">
						Kati 5
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="se-floor-6-shq-tab" data-bs-toggle="tab" data-bs-target="#se-floor-6-shq" type="button" role="tab" aria-controls="se-floor-6-shq" aria-selected="false">
						Kati 6
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="se-floor-7-shq-tab" data-bs-toggle="tab" data-bs-target="#se-floor-7-shq" type="button" role="tab" aria-controls="se-floor-7-shq" aria-selected="false">
						Kati 7
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="se-floor-8-shq-tab" data-bs-toggle="tab" data-bs-target="#se-floor-8-shq" type="button" role="tab" aria-controls="se-floor-8-shq" aria-selected="false">
						Kati 8
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="se-floor-9-shq-tab" data-bs-toggle="tab" data-bs-target="#se-floor-9-shq" type="button" role="tab" aria-controls="se-floor-9-shq" aria-selected="false">
						Kati 9
					</button>
				</li>
			</ul>
			<div class="tab-content" id="secondEntryShqTabContent">
				<div class="tab-pane fade show active" id="se-floor-1-shq" role="tabpanel" aria-labelledby="se-floor-1-shq-tab">
					{{> shq/hyrja_b/h2-kati1 }}
				</div>
				<div class="tab-pane fade" id="se-floor-2-shq" role="tabpanel" aria-labelledby="se-floor-2-shq-tab">
					{{> shq/hyrja_b/h2-kati2 }}
				</div>
				<div class="tab-pane fade" id="se-floor-3-shq" role="tabpanel" aria-labelledby="se-floor-3-shq-tab">
					{{> shq/hyrja_b/h2-kati3 }}
				</div>
				<div class="tab-pane fade" id="se-floor-4-shq" role="tabpanel" aria-labelledby="se-floor-4-shq-tab">
					{{> shq/hyrja_b/h2-kati4 }}
				</div>
				<div class="tab-pane fade" id="se-floor-5-shq" role="tabpanel" aria-labelledby="se-floor-5-shq-tab">
					{{> shq/hyrja_b/h2-kati5 }}
				</div>
				<div class="tab-pane fade" id="se-floor-6-shq" role="tabpanel" aria-labelledby="se-floor-6-shq-tab">
					{{> shq/hyrja_b/h2-kati6 }}
				</div>
				<div class="tab-pane fade" id="se-floor-7-shq" role="tabpanel" aria-labelledby="se-floor-7-shq-tab">
					{{> shq/hyrja_b/h2-kati7 }}
				</div>
				<div class="tab-pane fade" id="se-floor-8-shq" role="tabpanel" aria-labelledby="se-floor-8-shq-tab">
					{{> shq/hyrja_b/h2-kati8 }}
				</div>
				<div class="tab-pane fade" id="se-floor-9-shq" role="tabpanel" aria-labelledby="se-floor-9-shq-tab">
					{{> shq/hyrja_b/h2-kati9 }}
				</div>
			</div>
		</div>
	</div>
</div>
