<div class="offcanvas offcanvas-end offcanvasEntries w-100 border-0" tabindex="-1" id="offcanvasSecondEntryDe" aria-labelledby="offcanvasSecondEntryDeLabel">
    <div class="offcanvas-header p-0 mb-1">
        <div class="container">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                <img width="27" height="24" src="../images/down-arrow.svg" alt="" />
            </button>
        </div>
    </div>
    <div class="offcanvas-body p-0">
        <div class="container">
            <h2>Hinter diesen Mauern liegt eine Welt, die für dich gemacht ist.</h2>
            <ul class="nav nav-tabs border-0 mb-2 mb-lg-3" id="secondEntryEnTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="se-floor-1-de-tab" data-bs-toggle="tab" data-bs-target="#se-floor-1-de" type="button" role="tab" aria-controls="se-floor-1-de" aria-selected="true">
                        Boden 1
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="se-floor-2-de-tab" data-bs-toggle="tab" data-bs-target="#se-floor-2-de" type="button" role="tab" aria-controls="se-floor-2-de" aria-selected="false">
                        Boden 2
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="se-floor-3-de-tab" data-bs-toggle="tab" data-bs-target="#se-floor-3-de" type="button" role="tab" aria-controls="se-floor-3-de" aria-selected="false">
                        Boden 3
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="se-floor-4-de-tab" data-bs-toggle="tab" data-bs-target="#se-floor-4-de" type="button" role="tab" aria-controls="se-floor-4-de" aria-selected="false">
                        Boden 4
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="se-floor-5-de-tab" data-bs-toggle="tab" data-bs-target="#se-floor-5-de" type="button" role="tab" aria-controls="se-floor-5-de" aria-selected="false">
                        Boden 5
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="se-floor-6-de-tab" data-bs-toggle="tab" data-bs-target="#se-floor-6-de" type="button" role="tab" aria-controls="se-floor-6-de" aria-selected="false">
                        Boden 6
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="se-floor-7-de-tab" data-bs-toggle="tab" data-bs-target="#se-floor-7-de" type="button" role="tab" aria-controls="se-floor-7-de" aria-selected="false">
                        Boden 7
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="se-floor-8-de-tab" data-bs-toggle="tab" data-bs-target="#se-floor-8-de" type="button" role="tab" aria-controls="se-floor-8-de" aria-selected="false">
                        Boden 8
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="se-floor-9-de-tab" data-bs-toggle="tab" data-bs-target="#se-floor-9-de" type="button" role="tab" aria-controls="se-floor-9-de" aria-selected="false">
                        Boden 9
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="secondEntryDeTabContent">
                <div class="tab-pane fade show active" id="se-floor-1-de" role="tabpanel" aria-labelledby="se-floor-1-de-tab">
                    {{> de/eingang_b/e2-boden1 }}
                </div>
                <div class="tab-pane fade" id="se-floor-2-de" role="tabpanel" aria-labelledby="se-floor-2-de-tab">
                    {{> de/eingang_b/e2-boden2 }}
                </div>
                <div class="tab-pane fade" id="se-floor-3-de" role="tabpanel" aria-labelledby="se-floor-3-de-tab">
                    {{> de/eingang_b/e2-boden3 }}
                </div>
                <div class="tab-pane fade" id="se-floor-4-de" role="tabpanel" aria-labelledby="se-floor-4-de-tab">
                    {{> de/eingang_b/e2-boden4 }}
                </div>
                <div class="tab-pane fade" id="se-floor-5-de" role="tabpanel" aria-labelledby="se-floor-5-de-tab">
                    {{> de/eingang_b/e2-boden5 }}
                </div>
                <div class="tab-pane fade" id="se-floor-6-de" role="tabpanel" aria-labelledby="se-floor-6-de-tab">
                    {{> de/eingang_b/e2-boden6 }}
                </div>
                <div class="tab-pane fade" id="se-floor-7-de" role="tabpanel" aria-labelledby="se-floor-7-de-tab">
                    {{> de/eingang_b/e2-boden7 }}
                </div>
                <div class="tab-pane fade" id="se-floor-8-de" role="tabpanel" aria-labelledby="se-floor-8-de-tab">
                    {{> de/eingang_b/e2-boden8 }}
                </div>
                <div class="tab-pane fade" id="se-floor-9-de" role="tabpanel" aria-labelledby="se-floor-9-de-tab">
                    {{> de/eingang_b/e2-boden9 }}
                </div>
            </div>
        </div>
    </div>
</div>
