<section class="o-overview">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <figure class="o-overview__image mb-0">
                    <img src="../images/standards-image-3.webp" alt="" class="w-100 h-100"/>
                </figure>
            </div>
            <div class="col-12 col-lg-6 offset-lg-1 d-flex flex-column align-items-center">
                <div class="o-overview__content">
                    <h2 class="text-primary mb-2 mb-lg-4">About Us</h2>
                    <p>We, the founders of <strong>G&A Invest</strong>, are a family-owned company with many visions and high ambitions. We have extensive experience in the field of construction and real estate development, bringing a comprehensive network of industry experts with us. With our profound expertise and passion for sustainable building, we aspire to transform the construction industry and bring visionary projects to life.</p>
                    <p>At <strong>ENA Residence</strong>, we welcome you to the future of living! The revolutionary new condominiums offer a life of comfort, modernity, and luxury. We provide living spaces and create work environments by investing not only in revolutionary condominiums but also in smart retail spaces, which we acquire and sell. Through targeted investments in startups in both the construction and technology sectors, GA Invest aims to give society the opportunity to grow and realize its innovative and socially relevant projects. The focus is on promoting the quality of life for people in Kosovo, incorporating both ecological and economic sustainability.</p>
                </div>
            </div>
        </div>
    </div>
</section>
