<section class="o-about" id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="swiper about-swiper w-100">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../images/abous-us-image-1.webp" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/abous-us-image-2.webp" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/abous-us-image-3.webp" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/abous-us-image-1.webp" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/abous-us-image-2.webp" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/abous-us-image-3.webp" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/abous-us-image-1.webp" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 offset-lg-1 d-flex flex-column justify-content-center">
                <div class="o-about__content">
                    <h2 class="text-primary mb-4">Our Mission</h2>
                    <p>Welcome to the future of living! Our revolutionary new condominiums, ENA Residence, offer you a life of <strong>comfort and luxury</strong>. Equipped with <strong>Smart Home technology</strong> that automatically adjusts your apartment to your needs, you can relax and enjoy life. Our apartments are also environmentally friendly and sustainable, featuring <strong>solar energy, rainwater harvesting systems</strong>, and <strong>energy-efficient appliances</strong>. You'll love the communal spaces, including <strong>rooftop terraces, fitness studios</strong>, and <strong>community areas for events</strong> and gatherings. ENA Residence is located in emerging neighborhoods and near key transportation hubs to provide you with a convenient and modern, balanced lifestyle. </p>
                </div>
            </div>
        </div>
    </div>
</section>
