<div class="accordion accordion-flush" id="firstEntryFourteenthFloor">
    <div class="accordion-item">
        <div class="accordion-header" id="a_fourteenthFloor_ApartOneHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a_fourteenthFloor_ApartOneCollapse" aria-expanded="false" aria-controls="a_fourteenthFloor_ApartOneCollapse">
                Banesa nr.67 - Njedhomeshe
            </button>
        </div>
        <div id="a_fourteenthFloor_ApartOneCollapse" class="accordion-collapse collapse" aria-labelledby="a_fourteenthFloor_ApartOneHeading" data-bs-parent="#firstEntryFourteenthFloor">
            <div class="container">
                <div class="row justify-content-between flex-column-reverse flex-lg-row">
                    <div class="col-12 col-lg-5">
                        <div class="info-row">
                            <p>Q.D & Kuzhina + Korridor</p>
                            <p>30.92 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Dhome gjumi 1</p>
                            <p>13.26 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Banjo + WC</p>
                            <p>4.59 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Depo</p>
                            <p>1.60 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Terasa 1</p>
                            <p>3.43 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Siperfaqe Bruto </p>
                            <p>63.59 m2</p>
                        </div>
                        <a href="#" class="a-btn-default d-flex flex-row align-items-center justify-content-center mt-3">
                            <img src="../images/download.svg" class="download-blue" alt="" />
                            <img src="../images/download-white.svg" alt="" class="download-white"/>
                            download floor plan and info
                        </a>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-start justify-content-lg-end justify-content-center mb-2 mb-lg-0">
                        <img src="/images/hyrja_a/BANESA%2067.webp" alt="" class="apartment-image"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="a_fourteenthFloor_ApartTwoHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a_fourteenthFloor_ApartTwoCollapse" aria-expanded="false" aria-controls="a_fourteenthFloor_ApartTwoCollapse">
                Banesa nr.68 - Dydhomeshe
            </button>
        </div>
        <div id="a_fourteenthFloor_ApartTwoCollapse" class="accordion-collapse collapse" aria-labelledby="a_fourteenthFloor_ApartTwoHeading" data-bs-parent="#firstEntryFourteenthFloor">
            <div class="container">
                <div class="row justify-content-between flex-column-reverse flex-lg-row">
                    <div class="col-12 col-lg-5">
                        <div class="info-row">
                           <p>Q.D & Kuzhina + Korridor</p>
                           <p>40.52 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Dhome gjumi 1</p>
                            <p>15.03 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Dhome gjumi 2</p>
                            <p>9.80 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Banjo + WC</p>
                            <p>3.91 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Depo</p>
                            <p>2.38 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Terasa 1</p>
                            <p>3.08 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Terasa 2</p>
                            <p>3.68 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Siperfaqe Bruto </p>
                            <p>89.64 m2</p>
                        </div>
                        <a href="#" class="a-btn-default d-flex flex-row align-items-center justify-content-center mt-3">
                            <img src="../images/download.svg" class="download-blue" alt="" />
                            <img src="../images/download-white.svg" alt="" class="download-white"/>
                            download floor plan and info
                        </a>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-start justify-content-lg-end justify-content-center mb-2 mb-lg-0">
                        <img src="/images/hyrja_a/BANESA%2068.webp" alt="" class="apartment-image"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="a_fourteenthFloor_ApartThreeHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a_fourteenthFloor_ApartThreeCollapse" aria-expanded="false" aria-controls="a_fourteenthFloor_ApartThreeCollapse">
                Banesa nr.69- Tredhomeshe
            </button>
        </div>
        <div id="a_fourteenthFloor_ApartThreeCollapse" class="accordion-collapse collapse" aria-labelledby="a_fourteenthFloor_ApartThreeHeading" data-bs-parent="#firstEntryFourteenthFloor">
            <div class="container">
                <div class="row justify-content-between flex-column-reverse flex-lg-row">
                    <div class="col-12 col-lg-5">
                        <div class="info-row">
                            <p>Q.D & Kuzhina + Korridor</p>
                            <p>51.09 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Dhome gjumi 1</p>
                            <p>12.98 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Dhome gjumi 2</p>
                            <p>13.00 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Dhome gjumi 3</p>
                            <p>14.05m2</p>
                        </div>
                        <div class="info-row">
                            <p>Banjo + WC / e dhomes gjumit 3</p>
                            <p>3.57 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Banjo + WC</p>
                            <p>4.08 m2</p>
                        </div>
                        <div class="info-row">
                            <p>WC</p>
                            <p>2.27 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Depo</p>
                            <p>2.72 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Terasa 1</p>
                            <p>8.00 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Banesa / Siperfaqe Bruto</p>
                            <p>125.97 m2</p>
                        </div>
                        <a href="#" class="a-btn-default d-flex flex-row align-items-center justify-content-center mt-3">
                            <img src="../images/download.svg" class="download-blue" alt="" />
                            <img src="../images/download-white.svg" alt="" class="download-white"/>
                            download floor plan and info
                        </a>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-start justify-content-lg-end justify-content-center mb-2 mb-lg-0">
                        <img src="/images/hyrja_a/BANESA%2069.webp" alt="" class="apartment-image"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="a_fourteenthFloor_ApartFourHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a_fourteenthFloor_ApartFourCollapse" aria-expanded="false" aria-controls="a_fourteenthFloor_ApartFourCollapse">
                Banesa nr.70- Dydhomeshe
            </button>
        </div>
        <div id="a_fourteenthFloor_ApartFourCollapse" class="accordion-collapse collapse" aria-labelledby="a_fourteenthFloor_ApartFourHeading" data-bs-parent="#firstEntryFourteenthFloor">
            <div class="container">
                <div class="row justify-content-between flex-column-reverse flex-lg-row">
                    <div class="col-12 col-lg-5">
                        <div class="info-row">
                           <p>Q.D & Kuzhina + Korridor</p>
                           <p>42.80 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Dhome gjumi 1</p>
                            <p>12.76 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Dhome gjumi 2</p>
                            <p>17.22 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Banjo + WC</p>
                            <p>5.78 m2</p>
                        </div>
                        <div class="info-row">
                            <p>WC</p>
                            <p>2.59 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Depo</p>
                            <p>2.59 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Terasa 1 </p>
                            <p>3.41 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Banesa / Siperfaqe Bruto</p>
                            <p>100.79 m2</p>
                        </div>
                        <a href="#" class="a-btn-default d-flex flex-row align-items-center justify-content-center mt-3">
                            <img src="../images/download.svg" class="download-blue" alt="" />
                            <img src="../images/download-white.svg" alt="" class="download-white"/>
                            download floor plan and info
                        </a>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-start justify-content-lg-end justify-content-center mb-2 mb-lg-0">
                        <img src="/images/hyrja_a/BANESA%2070.webp" alt="" class="apartment-image"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="a_fourteenthFloor_ApartFiveHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a_fourteenthFloor_ApartFiveCollapse" aria-expanded="false" aria-controls="a_fourteenthFloor_ApartFiveCollapse">
                Banesa nr.71- Njedhomeshe
            </button>
        </div>
        <div id="a_fourteenthFloor_ApartFiveCollapse" class="accordion-collapse collapse" aria-labelledby="a_fourteenthFloor_ApartFiveHeading" data-bs-parent="#firstEntryFourteenthFloor">
            <div class="container">
                <div class="row justify-content-between flex-column-reverse flex-lg-row">
                    <div class="col-12 col-lg-5">
                        <div class="info-row">
                            <p>Q.D & Kuzhina + Korridor</p>
                            <p>30.63 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Dhome gjumi 1</p>
                            <p>12.50 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Banjo + WC</p>
                            <p>4.16 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Depo</p>
                            <p>2.37 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Tarasa 1</p>
                            <p>4.54 m2</p>
                        </div>
                        <div class="info-row">
                            <p>Dubleks Banesa / siperfaqe bruto</p>
                            <p>65.49 m2</p>
                        </div>
                        <a href="#" class="a-btn-default d-flex flex-row align-items-center justify-content-center mt-3">
                            <img src="../images/download.svg" class="download-blue" alt="" />
                            <img src="../images/download-white.svg" alt="" class="download-white"/>
                            download floor plan and info
                        </a>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-start justify-content-lg-end justify-content-center mb-2 mb-lg-0">
                        <img src="/images/hyrja_a/BANESA%2071.webp" alt="" class="apartment-image"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>