<section class="o-summary">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3 mb-3 mb-xl-0 d-flex flex-column align-items-center">
                <div class="o-summary__item">
                    <figure class="o-summary__item__first-img">
                        <img src="../images/summary-image-1.webp" alt="" class="w-100 h-100"/>
                    </figure>
                    <h3 class="mb-2">Parkplätze</h3>
                    <p class="mb-0">ENA RESIDENCE bietet eine hochmoderne Parkinfrastruktur und stellt damit reichlich Parkmöglichkeiten für seine Bewohner bereit. Mit einer Kombination aus Innen- und Außenparkplätzen kommt ENA RESIDENCE den Anforderungen der Bewohner nach sicheren und ständig verfügbaren Parklösungen für ihre Fahrzeuge nach.</p>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-3 mb-xl-0 d-flex flex-column align-items-center">
                <div class="o-summary__item">
                    <figure class="o-summary__item__second-img">
                        <img src="../images/summary-image-2.webp" alt="" class="w-100 h-100"/>
                    </figure>
                    <h3 class="mb-2">Grüne Terrassen</h3>
                    <p class="mb-0">Grüne Terrassen, reich bepflanzt, bieten eine erfrischende Umgebung für die Bewohner. Sie verbinden mit der Natur und schaffen eine private Oase zum Entspannen und Genießen der frischen Luft. Umgeben von Bäumen und Blumen, erweitern diese Terrassen den Wohnbereich und sind perfekte Orte für soziale Treffen oder stille Momente.</p>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-3 mb-xl-0 d-flex flex-column align-items-center">
                <div class="o-summary__item">
                    <figure class="o-summary__item__third-img">
                        <img src="../images/summary-image-3.webp" alt="" class="w-100 h-100"/>
                    </figure>
                    <h3 class="mb-2">Standort</h3>
                    <p class="mb-0">ENA RESIDENCE wird in der Stadt Drenas gebaut und bietet seinen Bewohnern eine privilegierte Lage. Diese geografischen Koordinaten kennzeichnen einen strategisch positionierten Standort im Herzen der Stadt, der einen einfachen Zugang zur lokalen Infrastruktur und wichtigen Dienstleistungen ermöglicht.</p>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-3 mb-xl-0 d-flex flex-column align-items-center">
                <div class="o-summary__item">
                    <figure class="o-summary__item__fourth-img">
                        <img src="../images/summary-image-4.webp" alt="" class="w-100 h-100"/>
                    </figure>
                    <h3 class="mb-2">Nachhaltige und umweltfreundliche Baustoffe</h3>
                    <ul>
                        <li>Belüftete Fassadenpaneele</li>
                        <li>Vier-Jahreszeiten-Glas</li>
                        <li>Verwendung von ökologischen Materialien für die Wärmedämmung</li>
                        <li>Einsatz von schalldämmenden Materialien</li>
                        <li>Solarenergie</li>
                        <li>Regenwasserauffangsystemen</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
