.animation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
     display: flex;
     align-items: center;
     justify-content: center;
}

.animation-wrapper {
    position: relative;
    height: 587px;
    width: 746px;
    //overflow: hidden;

    @include media-breakpoint-down(lg) {
        height: 234.8px;
        width: 298.4px;
    }

    .line {
        width: 0;
        height: 3px;
        background-color: $white;
        position: absolute;
        opacity: 0;

        @include media-breakpoint-down(lg) {
            height: 2px;
        }
    }

    .vertical {
        transform: rotate(-90deg);
    }

    .line1 {
        top: 586px;
        left: 742px;
        animation: animateLine1 0.3s forwards 0.5s;

        @include media-breakpoint-down(lg) {
            top: 234.4px;
            left: 296.8px;
        }
    }

    .line2 {
        top: 525px;
        left: 684px;
        animation: animateLine2 0.3s forwards 0.8s;

        @include media-breakpoint-down(lg) {
            top: 210px;
            left: 273.6px;
        }
    }

    .line3 {
        top: 527px;
        left: 684px;
        animation: animateLine3 0.3s forwards 1.1s;

        @include media-breakpoint-down(lg) {
            top: 210.8px;
            left: 273.6px;
        }
    }

    .line4 {
        top: 466px;
        left: 626px;
        animation: animateLine4 0.2s forwards 1.4s;

        @include media-breakpoint-down(lg) {
            top: 186.4px;
            left: 250.4px;
        }
    }

    .line5 {
        top: 469px;
        left: 626px;
        animation: animateLine5 0.2s forwards 1.6s;

        @include media-breakpoint-down(lg) {
            top: 187.6px;
            left: 250.4px;
        }
    }

    .line6 {
        top: 408px;
        left: 568px;
        animation: animateLine6 0.2s forwards 1.8s;

        @include media-breakpoint-down(lg) {
            top: 163.2px;
            left: 227.2px;
        }
    }

    .line7 {
        top: 411px;
        left: 568px;
        animation: animateLine7 0.2s forwards 2s;

        @include media-breakpoint-down(lg) {
            top: 164.4px;
            left: 227.2px;
        }
    }

    .line8 {
        top: 350px;
        left: 510px;
        animation: animateLine8 0.2s forwards 2.2s;

        @include media-breakpoint-down(lg) {
            top: 175px;
            left: 255px;
        }
    }

    .line9 {
        top: 353px;
        left: 510px;
        animation: animateLine9 0.2s forwards 2.4s;

        @include media-breakpoint-down(lg) {
            top: 140px;
            left: 204px;
        }
    }

    .line10 {
        top: 292px;
        left: 452px;
        animation: animateLine10 0.2s forwards 2.6s;

        @include media-breakpoint-down(lg) {
            top: 116.8px;
            left: 180.8px;
        }
    }

    .line11 {
        top: 295px;
        left: 451px;
        animation: animateLine11 0.25s forwards 2.8s;

        @include media-breakpoint-down(lg) {
            top: 118px;
            left: 180.4px;
        }
    }

    .line12 {
        top: 171px;
        left: 338px;
        animation: animateLine12 0.25s forwards 3.05s;

        @include media-breakpoint-down(lg) {
            top: 68.4px;
            left: 135.2px;
        }
    }

    .line13 {
        top: 179px;
        left: 338px;
        animation: animateLine13 0.25s forwards 3.3s;

        @include media-breakpoint-down(lg) {
            top: 71.6px;
            left: 135.2px;
        }
    }

    .line14 {
        top: 0;
        left: 0;
        animation: animateLine14 0.25s forwards 3.55s;
    }

    .line15 {
        top: 0;
        left: 0;
        animation: animateLine15 0.3s forwards 3.7s;
    }

    .line16 {
        top: 584px;
        left: 0;
        animation: animateLine16 0.3s forwards 4s;

        @include media-breakpoint-down(lg) {
            top: 233.6px;
        }
    }
}

@keyframes animateLine1 {
    to {
        opacity: 1;
        top: 554px;
        left: 713px;
        width: 61px;
    }
}

@keyframes animateLine2 {
    from {
        opacity: 0;
        top: 525px;
        left: 742px;
        width: 0;
    }
    to {
        opacity: 1;
        top: 525px;
        left: 684px;
        width: 61px;
    }
}

@keyframes animateLine3 {
    to {
        opacity: 1;
        top: 495px;
        left: 655px;
        width: 61px;
    }
}

@keyframes animateLine4 {
    from {
        opacity: 0;
        top: 466px;
        left: 684px;
        width: 0;
    }
    to {
        opacity: 1;
        top: 466px;
        left: 626px;
        width: 61px;
    }
}

@keyframes animateLine5 {
    to {
        opacity: 1;
        top: 437px;
        left: 597px;
        width: 61px;
    }
}

@keyframes animateLine6 {
    from {
        opacity: 0;
        top: 408px;
        left: 628px;
        width: 0;
    }
    to {
        opacity: 1;
        top: 408px;
        left: 568px;
        width: 61px;
    }
}

@keyframes animateLine7 {
    to {
        opacity: 1;
        top: 379px;
        left: 539px;
        width: 61px;
    }
}

@keyframes animateLine8 {
    from {
        opacity: 0;
        top: 350px;
        left: 571px;
        width: 0;
    }
    to {
        opacity: 1;
        top: 350px;
        left: 510px;
        width: 61px;
    }
}

@keyframes animateLine9 {
    to {
        opacity: 1;
        top: 321px;
        left: 481px;
        width: 61px;
    }
}

@keyframes animateLine10 {
    from {
        opacity: 0;
        top: 292px;
        left: 513px;;
        width: 0;
    }
    to {
        opacity: 1;
        top: 292px;
        left: 452px;
        width: 61px;
    }
}

@keyframes animateLine11 {
    to {
        opacity: 1;
        top: 234px;
        left: 394px;
        width: 119px;
    }
}

@keyframes animateLine12 {
    from {
        opacity: 0;
        top: 176px;
        left: 453px;
        width: 0;
    }
    to {
        opacity: 1;
        top: 176px;
        left: 338px;
        width: 117px;
    }
}

@keyframes animateLine13 {
    to {
        opacity: 1;
        top: 88px;
        left: 250px;
        width: 179px;
    }
}

@keyframes animateLine14 {
    from {
        opacity: 0;
        top: 0;
        left: 341px;
        width: 0;
    }
    to {
        opacity: 1;
        top: 0;
        left: 0;
        width: 341px;
    }
}

@keyframes animateLine15 {
    to {
        opacity: 1;
        top: 292px;
        left: -292px;
        width: 587px;
    }
}

@keyframes animateLine16 {
    to {
        opacity: 1;
        top: 584px;
        left: 0;
        width: 745px;
    }
}


@media screen and (max-width: 991px) {
    @keyframes animateLine1 {
        to {
            opacity: 1;
            top: 221.6px;
            left: 285.2px;
            width: 24.4px;
        }
    }

    @keyframes animateLine2 {
        from {
            opacity: 0;
            top: 210px;
            left: 296.8px;
            width: 0;
        }
        to {
            opacity: 1;
            top: 210px;
            left: 273.6px;
            width: 24.4px;
        }
    }

    @keyframes animateLine3 {
        to {
            opacity: 1;
            top: 198px;
            left: 262px;
            width: 24.4px;
        }
    }

    @keyframes animateLine4 {
        from {
            opacity: 0;
            top: 186.4px;
            left: 273.6px;
            width: 0;
        }
        to {
            opacity: 1;
            top: 186.4px;
            left: 250.4px;
            width: 24.4px;
        }
    }

    @keyframes animateLine5 {
        to {
            opacity: 1;
            top: 174.8px;
            left: 238.8px;
            width: 24.4px;
        }
    }

    @keyframes animateLine6 {
        from {
            opacity: 0;
            top: 163.2px;
            left: 251.2px;
            width: 0;
        }
        to {
            opacity: 1;
            top: 163.2px;
            left: 227.2px;
            width: 24.4px;
        }
    }

    @keyframes animateLine7 {
        to {
            opacity: 1;
            top: 151.6px;
            left: 215.6px;
            width: 24.4px;
        }
    }

    @keyframes animateLine8 {
        from {
            opacity: 0;
            top: 140px;
            left: 228.4px;
            width: 0;
        }
        to {
            opacity: 1;
            top: 140px;
            left: 204px;
            width: 24.4px;
        }
    }

    @keyframes animateLine9 {
        to {
            opacity: 1;
            top: 128.4px;
            left: 192.4px;
            width: 24.4px;
        }
    }

    @keyframes animateLine10 {
        from {
            opacity: 0;
            top: 116.8px;
            left: 205.2px;
            width: 0;
        }
        to {
            opacity: 1;
            top: 116.8px;
            left: 180.8px;
            width: 24.4px;
        }
    }

    @keyframes animateLine11 {
        to {
            opacity: 1;
            top: 93.6px;
            left: 157.6px;
            width: 47.6px;
        }
    }

    @keyframes animateLine12 {
        from {
            opacity: 0;
            top: 70.4px;
            left: 181.2px;
            width: 0;
        }
        to {
            opacity: 1;
            top: 70.4px;
            left: 135.2px;
            width: 46.8px;
        }
    }

    @keyframes animateLine13 {
        to {
            opacity: 1;
            top: 34.8px;
            left: 99.6px;
            width: 72.4px;
        }
    }

    @keyframes animateLine14 {
        from {
            opacity: 0;
            top: 0;
            left: 136.4px;
            width: 0;
        }
        to {
            opacity: 1;
            top: -0.7px;
            left: 0;
            width: 136.4px;
        }
    }

    @keyframes animateLine15 {
        to {
            opacity: 1;
            top: 116.8px;
            left: -116.8px;
            width: 234.8px;
        }
    }

    @keyframes animateLine16 {
        to {
            opacity: 1;
            top: 232.9px;
            left: 0;
            width: 298px;
        }
    }
}