.o-standards {
    position: relative;

    &__content {
        width: 60.8rem;
        padding: 3.8rem 5.2rem 3.1rem;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        background-color: #F8F9FC;

        @include media-breakpoint-down(md) {
            width: 33rem;
            padding: 2.4rem;
        }

        p {
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }

            @include media-breakpoint-down(lg) {
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
        }

        .collapse {
            .card-body {
                outline: none;
            }
        }

        button {
            width: 5.5rem;
            height: 5.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid #00000033;
            margin-left: auto;

            @include media-breakpoint-down(lg) {
                margin-top: 2.4rem;
            }

            &[aria-expanded="true"] {
                margin-top: 3.2rem;

                img {
                    transform: rotate(180deg);
                    transition: 0.3s;
                }
            }
        }
    }

    .swiper {
        @include media-breakpoint-down(lg) {
            height: 98.3rem;
        }

        .swiper-wrapper {
            flex-direction: initial;
            height: 100%;

            .swiper-slide {
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}