.offcanvasEntries {
    background-color: #F8F9FC;

    .offcanvas-header {
        .btn-close {
            background: none;
            padding: 0;
            margin: 4.3rem 0 0 0;
            opacity: 1;
            outline: none;
            border: none;
            box-shadow: none;

            @include media-breakpoint-down(lg) {
                margin: 2.4rem 0 0 0;
            }

            img {
                transform: rotate(90deg);
                width: 2.4rem;
                object-fit: contain;
                outline: none;
                border: none;
                box-shadow: none;
            }
        }
    }

    .offcanvas-body {
        h2 {
            font-size: 6rem;
            margin-bottom: 3.2rem;
            margin-top: 4.8rem;

            @include media-breakpoint-down(lg) {
                font-size: 4rem;
                margin-top: 1.4rem;
            }
        }
    }

    .nav-tabs {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;

        @include media-breakpoint-down(sm) {
            width: calc(100% + 1.2rem);
        }

        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;

        .nav-item {
            button.nav-link {
                color: $primary;
                background-color: #CDD2E3;
                padding: 1rem 4rem;
                border: 0;
                border-radius: 1rem;
                margin-right: 2.4rem;
                font-size: 1.8rem;
                line-height: 2.7rem;
                font-family: $outfit;
                white-space: nowrap;

                @include media-breakpoint-down(lg) {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    padding: 0.8rem 2rem;
                    margin-right: 1.6rem;
                }

                &.active {
                    background-color: $primary;
                    color: #F8F9FC;
                }
            }
        }
    }

    .tab-content {
        margin-bottom: 5rem;
    }

    .accordion {
        .accordion-item {
            border: none;
            outline: none;
            box-shadow: none;
            margin-bottom: 3.2rem;

            @include media-breakpoint-down(lg) {
                margin-bottom: 0;
            }

            .accordion-header {
                border: none;
                outline: none;
                box-shadow: none;

                .accordion-button {
                    padding: 3rem 3rem 1.5rem 3rem;
                    font-size: 2.2rem;
                    line-height: 3rem;
                    font-weight: 500;
                    font-family: $outfit;
                    color: $primary;
                    background-color: $white;
                    outline: none;
                    margin-top: 3rem;
                    box-shadow: none;
                    //box-shadow: -1px -3px 6px #00000012;
                    border-radius: 2px 2px 0 0;
                    position: relative;

                    @include media-breakpoint-down(lg) {
                        font-size: 1.6rem;
                        line-height: 3rem;
                        padding: 3rem 3rem 2.4rem 3rem;
                    }

                    @include media-breakpoint-down(sm) {
                        width: calc(100% + 2.4rem);
                        margin-left: -1.2rem;
                    }

                    &:after {
                        content: "-";
                        background-image: none;
                        width: initial;
                        height: initial;
                        transform: initial;
                    }

                    &.collapsed {
                        padding: 1.5rem 2rem;
                        background-color: #F8F9FC;
                        border-bottom: 1px solid #E0E0E0;
                        margin-top: initial;
                        box-shadow: none;
                        border-radius: 0;

                        @include media-breakpoint-down(lg) {
                            padding: 2rem;
                        }

                        &:after {
                            content: "+";
                            background-image: none;
                            width: initial;
                            height: initial;
                        }
                    }

                    &__disabled {
                        color: #CDD2E3;
                    }

                    small {
                        padding: 1rem 2rem;
                        line-height: 2rem;
                        border-radius: 1rem;
                        position: absolute;
                        right: 6.5rem;
                    }
                }
            }

            .accordion-collapse {
                padding: 0 1.8rem 3rem 1.8rem;
                border-radius: 0 0 2px 2px;
                //box-shadow: 0 0 5px #00000012, 0 0 5px #00000012, 0 0 5px #00000012;
                background-color: $white;

                @include media-breakpoint-down(sm) {
                    width: calc(100% + 2.4rem);
                    margin-left: -1.2rem;
                }

                .apartment-image {
                    object-fit: contain;

                    @include media-breakpoint-down(lg) {
                        max-width: 30rem;
                    }

                    @include media-breakpoint-down(sm) {
                        max-width: 16.5rem;
                    }
                }

                .info-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #F8F9FC;
                    padding: 1rem;
                    margin-bottom: 1rem;

                    p {
                        font-size: 1.4rem;
                        line-height: 2.1rem;
                        margin: 0;

                        &:first-child {
                            text-align: start;
                            padding-right: 1rem;
                        }

                        &:last-child {
                            text-align: end;
                        }
                    }
                }

                .a-btn-default {
                    padding: 1rem 3rem;
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    text-transform: uppercase;
                    background-color: transparent;
                    border: 1px solid $primary;
                    border-radius: 1rem;
                    width: fit-content;
                    flex-wrap: nowrap;
                    text-align: center;

                    @include media-breakpoint-down(lg) {
                        background-color: $primary;
                        color: #F8F9FC;
                    }

                    img {
                        margin-right: 1.5rem;
                    }

                    .download-white {
                        display: none;

                        @include media-breakpoint-down(lg) {
                            display: block;
                        }
                    }

                    .download-blue {
                        @include media-breakpoint-down(lg) {
                            display: none;
                        }
                    }

                    &:hover {
                        @include media-breakpoint-up(lg) {
                            background-color: $primary;
                            color: #F8F9FC;

                            .download-white {
                                display: block;
                            }

                            .download-blue {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}