<div class="offcanvas offcanvas-end offcanvasEntries w-100 border-0" tabindex="-1" id="offcanvasFirstEntryDe" aria-labelledby="offcanvasFirstEntryDeLabel">
    <div class="offcanvas-header p-0 mb-1">
        <div class="container">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                <img width="27" height="24" src="../images/down-arrow.svg" alt="" />
            </button>
        </div>
    </div>
    <div class="offcanvas-body p-0">
        <div class="container">
            <h2>Hinter diesen Mauern liegt eine Welt, die für dich gemacht ist.</h2>
            <ul class="nav nav-tabs border-0 mb-2 mb-lg-3" id="firstEntryEnTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="fe-floor-1-de-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-1-de" type="button" role="tab" aria-controls="fe-floor-1-de" aria-selected="true">
                        Boden 1
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-2-de-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-2-de" type="button" role="tab" aria-controls="fe-floor-2-de" aria-selected="false">
                        Boden 2
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-3-de-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-3-de" type="button" role="tab" aria-controls="fe-floor-3-de" aria-selected="false">
                        Boden 3
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-4-de-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-4-de" type="button" role="tab" aria-controls="fe-floor-4-de" aria-selected="false">
                        Boden 4
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-5-de-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-5-de" type="button" role="tab" aria-controls="fe-floor-5-de" aria-selected="false">
                        Boden 5
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-6-de-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-6-de" type="button" role="tab" aria-controls="fe-floor-6-de" aria-selected="false">
                        Boden 6
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-7-de-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-7-de" type="button" role="tab" aria-controls="fe-floor-7-de" aria-selected="false">
                        Boden 7
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-8-de-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-8-de" type="button" role="tab" aria-controls="fe-floor-8-de" aria-selected="false">
                        Boden 8
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-9-de-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-9-de" type="button" role="tab" aria-controls="fe-floor-9-de" aria-selected="false">
                        Boden 9
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-10-de-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-10-de" type="button" role="tab" aria-controls="fe-floor-10-de" aria-selected="false">
                        Boden 10
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-11-de-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-11-de" type="button" role="tab" aria-controls="fe-floor-11-de" aria-selected="false">
                        Boden 11
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-12-de-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-12-de" type="button" role="tab" aria-controls="fe-floor-12-de" aria-selected="false">
                        Boden 12
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-13-de-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-13-de" type="button" role="tab" aria-controls="fe-floor-13-de" aria-selected="false">
                        Boden 13
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-14-de-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-14-de" type="button" role="tab" aria-controls="fe-floor-14-de" aria-selected="false">
                        Boden 14
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fe-floor-15-de-tab" data-bs-toggle="tab" data-bs-target="#fe-floor-15-de" type="button" role="tab" aria-controls="fe-floor-15-de" aria-selected="false">
                        Boden 15
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="firstEntryDeTabContent">
                <div class="tab-pane fade show active" id="fe-floor-1-de" role="tabpanel" aria-labelledby="fe-floor-1-de-tab">
                    {{> de/eingang_a/e1-boden1 }}
                </div>
                <div class="tab-pane fade" id="fe-floor-2-de" role="tabpanel" aria-labelledby="fe-floor-2-de-tab">
                    {{> de/eingang_a/e1-boden2 }}
                </div>
                <div class="tab-pane fade" id="fe-floor-3-de" role="tabpanel" aria-labelledby="fe-floor-3-de-tab">
                    {{> de/eingang_a/e1-boden3 }}
                </div>
                <div class="tab-pane fade" id="fe-floor-4-de" role="tabpanel" aria-labelledby="fe-floor-4-de-tab">
                    {{> de/eingang_a/e1-boden4 }}
                </div>
                <div class="tab-pane fade" id="fe-floor-5-de" role="tabpanel" aria-labelledby="fe-floor-5-de-tab">
                    {{> de/eingang_a/e1-boden5 }}
                </div>
                <div class="tab-pane fade" id="fe-floor-6-de" role="tabpanel" aria-labelledby="fe-floor-6-de-tab">
                    {{> de/eingang_a/e1-boden6 }}
                </div>
                <div class="tab-pane fade" id="fe-floor-7-de" role="tabpanel" aria-labelledby="fe-floor-7-de-tab">
                    {{> de/eingang_a/e1-boden7 }}
                </div>
                <div class="tab-pane fade" id="fe-floor-8-de" role="tabpanel" aria-labelledby="fe-floor-8-de-tab">
                    {{> de/eingang_a/e1-boden8 }}
                </div>
                <div class="tab-pane fade" id="fe-floor-9-de" role="tabpanel" aria-labelledby="fe-floor-9-de-tab">
                    {{> de/eingang_a/e1-boden9 }}
                </div>
                <div class="tab-pane fade" id="fe-floor-10-de" role="tabpanel" aria-labelledby="fe-floor-10-de-tab">
                    {{> de/eingang_a/e1-boden10 }}
                </div>
                <div class="tab-pane fade" id="fe-floor-11-de" role="tabpanel" aria-labelledby="fe-floor-11-de-tab">
                    {{> de/eingang_a/e1-boden11 }}
                </div>
                <div class="tab-pane fade" id="fe-floor-12-de" role="tabpanel" aria-labelledby="fe-floor-12-de-tab">
                    {{> de/eingang_a/e1-boden12 }}
                </div>
                <div class="tab-pane fade" id="fe-floor-13-de" role="tabpanel" aria-labelledby="fe-floor-13-de-tab">
                    {{> de/eingang_a/e1-boden13 }}
                </div>
                <div class="tab-pane fade" id="fe-floor-14-de" role="tabpanel" aria-labelledby="fe-floor-14-de-tab">
                    {{> de/eingang_a/e1-boden14 }}
                </div>
                <div class="tab-pane fade" id="fe-floor-15-de" role="tabpanel" aria-labelledby="fe-floor-15-de-tab">
                    {{> de/eingang_a/e1-boden15 }}
                </div>
            </div>
        </div>
    </div>
</div>